<div *ngIf="showGrid">
    <div class="grid  grid-cols-2 items-center justify-content">
        <h1 class="text-xl py-3">MICRO SERVICES</h1>
        <div class="text-right">
            <vezo-button icon="squares2x2" (click)="showGrid=true"></vezo-button>
            <vezo-button icon="tableCells" className="mr-3" (click)="showGrid=false"></vezo-button>
            <vezo-button label="Add New Microservice" icon="plus" className="mr-2" (click)="addData()"></vezo-button>
            <vezo-button label="Filter" icon="funnel" className="bg-green-100"></vezo-button>
        </div>
    </div>
    <div class="grid  grid-cols-4 gap-4">
        <vezo-card className="bg-white" *ngFor="let ms of data">
            <ng-template vTemplate="media">
                <div class="grid grid-cols-5 items-center justify-content bg-indigo-50 hover:bg-indigo-100">
                    <div class="col-span-1 p-4">
                        <div class="border border-indigo-500 rounded-full w-8 h-8 flex justify-center items-center">
                            <p class="text-indigo-500">{{ ms.microServiceCode?.charAt(0) }}</p>
                        </div>
                    </div>
                    <div class="col-span-3 pl-4">
                        {{ ms.microServiceCode }}
                    </div>
                    <div class="col-span-1">
                        <vezo-icon icon="heart" className="text-indigo-400"></vezo-icon>
                        <vezo-icon icon="ellipsisVertical" className="text-indigo-400"></vezo-icon>
                    </div>
                </div>
            </ng-template>
            <ng-template vTemplate="header">

            </ng-template>
            <ng-template vTemplate="body">
                <p class="p-5 min-h-[12rem]">
                    {{ ms.microServiceName }}
                </p>
            </ng-template>
            <ng-template vTemplate="footer">
                <div class="text-right p-3 border-t">
                    <vezo-button label="Manage Fields" icon="queueList" (click)="addData()"></vezo-button>
                </div>
            </ng-template>
        </vezo-card>
    </div>
</div>
<vezo-table [data]="data" *ngIf="!showGrid">
    <ng-template vTemplate="caption">
        <div class="grid grid-cols-2 justify-content items-center">
            <div class="text-xl">MICRO SERVICES</div>
            <div class="text-right">
                <vezo-button icon="squares2x2" (click)="showGrid=true"></vezo-button>
                <vezo-button icon="tableCells" className="mr-3" (click)="showGrid=false"></vezo-button>
                <vezo-button label="Add New Microservice" icon="plus" className="mr-2"
                    (click)="addData()"></vezo-button>
                <vezo-button label="Filter" icon="funnel" className="bg-green-100"></vezo-button>
            </div>
        </div>
    </ng-template>
    <ng-template vTemplate="header">
        <tr>
            <th class="w-4"><input type="checkbox" class="w-4 h-4" /></th>
            <th>Service Code</th>
            <th>Service Name</th>
            <th [width]="150">Actions</th>
        </tr>
    </ng-template>
    <ng-template vTemplate="body">
        <tr *ngFor="let ms of data">
            <td><input type="checkbox" class="w-4 h-4" /></td>
            <td>{{ ms.microServiceCode }}</td>
            <td>{{ ms.microServiceName }}</td>
            <td>
                <vezo-icon icon="pencil" (click)="editData(ms)"
                    className="mr-5 w-4 h-4 text-indigo-400 cursor-pointer"></vezo-icon>
                <vezo-icon icon="trash" (click)="deleteData(ms)"
                    className="w-4 h-4 text-red-400 cursor-pointer"></vezo-icon>
            </td>
        </tr>
    </ng-template>
</vezo-table>




<vezo-modal [(visible)]="visible">
    <ng-template vTemplate="header">Microservice</ng-template>
    <ng-template vTemplate="content">
        <form [formGroup]="form">
            <vezo-input label="Service Code" formControlName="microServiceCode"></vezo-input>
            <error-message [controlName]="form.controls['microServiceCode']"></error-message>
            <vezo-textarea label="Service Name" formControlName="microServiceName"></vezo-textarea>
            <error-message [controlName]="form.controls['microServiceName']"></error-message>
        </form>
    </ng-template>
    <ng-template vTemplate="footer">
        <div class="text-right">
            <vezo-button label="Save" [disabled]="!form.valid" (click)="saveData()"></vezo-button>
        </div>
    </ng-template>
</vezo-modal>

<vezo-toast></vezo-toast>