<div class="grid grid-cols-12 gap-6">
    <div class="col-span-12">
        <h1 class="text-2xl text-indigo-500 my-4">Welcome to MACHARC</h1>
        <p class="w-2/3">
            MachArc acts as the core of API service which is bundled with additional components to deliver secure and
            scalable APIs, it can be deployed on-prem, cloud-native or hybrid mode.
        </p>
    </div>
    <div class="col-span-8 space-y-4">
        <div class="bg-white shadow-md grid grid-cols-5 p-4  cursor-pointer" routerLink="/builder/microservices">
            <div class="col-span-1">
                <vezo-icon icon="bolt" className="w-24 h-24 text-red-400 p-4" strokeWidth="0.5"></vezo-icon>
            </div>
            <div class="col-span-3">
                <h3 class="mb-2 text-lg">Create a microservice</h3>
                <p>Each microservice is responsible for a specific business function and communicates with other
                    microservices through APIs</p>
            </div>
            <div class="col-span-1 text-right">
                <vezo-icon icon="chevronRight" className="w-12 h-12 m-6 text-indigo-400" strokeWidth="0.5"></vezo-icon>
            </div>
        </div>
        <div class="bg-white shadow-md grid grid-cols-5 p-4 cursor-pointer" routerLink="/builder/datasources">
            <div class="col-span-1">
                <vezo-icon icon="circleStack" className="w-24 h-24 text-purple-400 p-4" strokeWidth="0.5"></vezo-icon>
            </div>
            <div class="col-span-3">
                <h3 class="mb-2 text-lg">Create a datasource</h3>
                <p>Each microservice is responsible for a specific business function and communicates with other
                    microservices through APIs</p>
            </div>
            <div class="col-span-1 text-right">
                <vezo-icon icon="chevronRight" className="w-12 h-12 m-6 text-indigo-400" strokeWidth="0.5"></vezo-icon>
            </div>
        </div>
        <div class="bg-white shadow-md grid grid-cols-5 p-4  cursor-pointer" routerLink="/builder/processes">
            <div class="col-span-1">
                <vezo-icon icon="share" className="w-24 h-24 text-cyan-400 p-4" strokeWidth="0.5"></vezo-icon>
            </div>
            <div class="col-span-3">
                <h3 class="mb-2 text-lg">Create a Workflow</h3>
                <p>Each microservice is responsible for a specific business function and communicates with other
                    microservices through APIs</p>
            </div>
            <div class="col-span-1 text-right">
                <vezo-icon icon="chevronRight" className="w-12 h-12 m-6 text-indigo-400" strokeWidth="0.5"></vezo-icon>
            </div>
        </div>
        <div class="bg-white shadow-md grid grid-cols-5 p-4 cursor-pointer" routerLink="/builder/releases">
            <div class="col-span-1">
                <vezo-icon icon="queueList" className="w-24 h-24 text-orange-400 p-4" strokeWidth="0.5"></vezo-icon>
            </div>
            <div class="col-span-3">
                <h3 class="mb-2 text-lg">Manage Releases</h3>
                <p>Each microservice is responsible for a specific business function and communicates with other
                    microservices through APIs</p>
            </div>
            <div class="col-span-1 text-right">
                <vezo-icon icon="chevronRight" className="w-12 h-12 m-6 text-indigo-400" strokeWidth="0.5"></vezo-icon>
            </div>
        </div>
        <div class="bg-white shadow-md grid grid-cols-5 p-4 cursor-pointer" routerLink="/marketplace">
            <div class="col-span-1">
                <vezo-icon icon="serverStack" className="w-24 h-24 text-green-400 p-4" strokeWidth="0.5"></vezo-icon>
            </div>
            <div class="col-span-3">
                <h3 class="mb-2 text-lg">Connect your apps</h3>
                <p>The Marketplace is the microservices extensions destination for all your ecosystem needs - certified
                    and optimized to run on MachArc.</p>
            </div>
            <div class="col-span-1 text-right">
                <vezo-icon icon="chevronRight" className="w-12 h-12 m-6 text-indigo-400" strokeWidth="0.5"></vezo-icon>
            </div>
        </div>
    </div>
    <div class="col-span-4">
        <vezo-card className="bg-white">
            <ng-template vTemplate="media">
                <img src="assets/coding.jpg" />

            </ng-template>
            <ng-template vTemplate="header">
                <h3 class="text-lg text-indigo-500 p-3">Marketplace</h3>
            </ng-template>
            <ng-template vTemplate="body">
                <div class="space-y-4 p-3">
                    <p>The Marketplace is the microservices extensions destination for all your application needs -
                        certified
                        and optimized to run on MachArc.</p>
                    <div class="grid grid-cols-6 place-items-center">
                        <div class="col-span-1">
                            <vezo-icon icon="magnifyingGlass" className="text-indigo-400"></vezo-icon>
                        </div>
                        <div class="col-span-5">
                            <p> Find solutions you want, from out of the box platforms to plugins to enhance your
                                solution
                            </p>
                        </div>
                    </div>
                    <div class="grid grid-cols-6 place-items-center">
                        <div class="col-span-1">
                            <vezo-icon icon="arrowsPointingOut" className="text-indigo-400"></vezo-icon>
                        </div>
                        <div class="col-span-5">
                            <p>Find apps and services that meet your needs, from open source container platforms to
                                threat
                                detection
                                to blockchain</p>
                        </div>
                    </div>
                    <div class="grid grid-cols-6 place-items-center">
                        <div class="col-span-1">
                            <vezo-icon icon="clock" className="text-indigo-400"></vezo-icon>
                        </div>
                        <div class="col-span-5">
                            <p>Provision end-to-end solutions quickly and reliably</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template vTemplate="footer">
                <div class="text-right p-3">
                    <vezo-button label="Visit Marketplace" routerLink="/marketplace"></vezo-button>
                </div>
            </ng-template>
        </vezo-card>
    </div>
</div>