<div class="grid grid-cols-12 border min-h-full bg-white">
    <div class="col-span-3 border-r">

        <div class="p-4 border-b">
            <h2 class="heading">Collection
            </h2>
        </div>

        <div class="p-4">
            <div><label>Collection Name</label></div>
            <div>
                <span class="text-indigo-400 text-lg"> {{ collection.collectionName }}</span>
            </div>
        </div>
        <div class="p-4">
            <div class="mb-2">Endpoints</div>
            <vezo-accordion>
                <vezo-accordion-section header="CUSTOM" [showSection]="true">
                    <div class="my-2 subheading" *ngIf="!data.length">NONE</div>
                    <div class="divide-y " *ngIf="data.length">
                        <ng-container *ngFor="let ep of data">
                            <div class="py-1 grid grid-cols-12 my-1 " *ngIf="!ep.crud">
                                <div class="col-span-9 w-full ">
                                    <div>{{ ep.endpointName }}</div>
                                    <div ><span
                                            class="bg-{{getEpColor(ep.endPointType)}}-200 text-xs rounded-lg px-2">{{
                                            ep.endPointType
                                            }}</span>
                                    </div>
                                    <div> {{ ep.endpointPath }}</div>
                                </div>
                                <div class="col-span-3 w-full text-right cursor-pointer">
                                    <vezo-icon icon="chevronRight" className="w-6 h-6 text-indigo-400" strokeWidth="0.5"
                                        (click)="editCustomEndpoint(ep)"></vezo-icon>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </vezo-accordion-section>
                <vezo-accordion-section header="PROCESSES">
                    <div class="my-2 subheading">NONE</div>
                </vezo-accordion-section>
                <vezo-accordion-section header="CRUD">
                    <div class="my-2 subheading">NONE</div>
                    <div class="divide-y">
                        <ng-container *ngFor="let ep of data">
                            <div class="py-4 grid grid-cols-12" *ngIf="ep.isCrud == true">
                                <div class="col-span-9 w-full space-y-2">
                                    <p class="subheading">{{ ep.endpointName }}</p>
                                    <p><span
                                            class="bg-{{getEpColor(ep.endpointType)}}-200 px-3 py-1 text-xs rounded-lg mr-2">{{
                                            ep.endpointType
                                            }}</span>
                                    </p>
                                    <p class="break-all"> {{ ep.endpointPath }}
                                    </p>
                                </div>
                                <div class="col-span-3 w-full text-right cursor-pointer">
                                    <vezo-icon icon="chevronRight" className="w-12 h-12 text-indigo-400"
                                        strokeWidth="0.5" (click)="editData(ep)"></vezo-icon>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                </vezo-accordion-section>

            </vezo-accordion>

        </div>
    </div>
    <div class="col-span-9">
        <div class="grid grid-cols-3 border-b justify-center items-center">
            <div class="p-4 col-span-1">
                <h2 class="heading">Custom Endpoint</h2>
            </div>

            <div class="text-right p-2 col-span-2">
                <vezo-button icon="plus" label="Add Endpoint" (click)="addData()"></vezo-button>
            </div>
        </div>
        <div class="grid grid-cols-2 p-4 gap-6" *ngIf="form.value.crud">
            <div>
                <label>Endpoint Name</label>
                <div class="my-2">{{ form.value.endpointName }}</div>
            </div>
            <div>
                <label>Endpoint Type</label>
                <div class="my-2">{{ form.value.endpointType }}</div>
            </div>
            <div>
                <label>Endpoint Details</label>
                <div class="my-2">{{ form.value.description }}</div>
            </div>
            <div>
                <label>Endpoint Path</label>
                <div class="my-2">{{ form.value.endpointPath }}</div>
            </div>
        </div>
        <div *ngIf="!form.value.crud">
            <form [formGroup]="form">
                <div class="grid grid-cols-2 p-4 gap-6">
                    <vezo-input label="Endpoint Name" formControlName="endpointName"></vezo-input>

                    <div class="mt-6">
                        <vezo-switch label="Is Web Service" formControlName="api"></vezo-switch>
                    </div>
                    <vezo-input label="Endpoint Path" formControlName="endpointPath"></vezo-input>

                    <vezo-select label="Endpoint Type" formControlName="endPointType"
                        [items]="httpMethods"></vezo-select>

                    <ng-container *ngIf="!form.value.api">


                        <vezo-input label="Endpoint Details" formControlName="description"></vezo-input>


                        <vezo-select label="Return Type" formControlName="returnType" [items]="returnTypes"
                            optionLabel="label" optionValue="value"></vezo-select>

                        <p-dropdown *ngIf="this.form.value.returnType == 'collection' " [options]="this.responseDto"
                            formControlName="responseDto" placeholder="Select Response DTO" optionLabel="dtoClassName"
                            [style]="{ width: '100%' }">
                        </p-dropdown>

                        <vezo-select label="Service" formControlName="workflow" [items]="services"
                            *ngIf="!form.value.crud" optionLabel="workflowName"></vezo-select>

                        <!-- <vezo-select label="Request DTO" formControlName="pojo" [items]="collections"
                            *ngIf="!form.value.crud" optionLabel="collectionName"></vezo-select> -->

                        <!-- <vezo-select label="Request DTO" formControlName="pojo" [items]="requestDto"
                             optionLabel="dtoClassName" optionValue="id"></vezo-select> -->

                        <p-dropdown [options]="this.requestDto" formControlName="requestDto"
                            placeholder="Select Request DTO" optionLabel="dtoClassName" [style]="{ width: '100%' }">
                        </p-dropdown>

                        <div></div>
                    </ng-container>
                    <vezo-select label=" API Source" formControlName="datasource" [items]="datasources"
                        *ngIf="form.value.api" optionLabel="dataSourceName"></vezo-select>
                    <vezo-switch label="Web Client" formControlName="webclient"
                        *ngIf="form.value.api && !form.value.webhook"></vezo-switch>
                    <vezo-switch label="Web Hook" formControlName="webhook"
                        *ngIf="form.value.api && !form.value.webclient"></vezo-switch>
                </div>




                <div class="flex" *ngIf="activeEp && (activeEp?.webclient || activeEp?.webhook)">
                    <div class="p-4 w-1/2">
                        <h2 class="heading mb-2">Request Json</h2>
                        <ngx-monaco-editor [options]="editorOptions" formControlName="requestJson"
                            style="height: 350px"></ngx-monaco-editor>
                    </div>
                    <div class="p-4 w-1/2">
                        <h2 class="heading mb-2">Response Json</h2>
                        <ngx-monaco-editor [options]="editorOptions" formControlName="responseJson"
                            style="height: 350px"></ngx-monaco-editor>
                    </div>
                </div>
                <div class="text-right p-4">
                    <vezo-button label="Save" (click)="saveData()"></vezo-button>
                </div>


                <div></div>
            </form>
        </div>
        <ng-container *ngIf="activeEp && !activeEp?.webclient && !activeEp?.webhook">
            <div class="grid grid-cols-2 p-4 gap-6" *ngIf="!form.value.crud">
                <h2 class="font-semibold">Path Variables</h2>
                <div class="text-right">
                    <vezo-button label="" icon="plus" className="bg-white" (click)="addPathVariable()"></vezo-button>
                </div>
            </div>
            <ng-container *ngFor="let pathVariable of pathVariables">
                <div class="grid grid-cols-12 gap-6 place-items-center">
                    <div class="col-span-5 w-full pl-4">
                        <vezo-input label="Variable" [(ngModel)]="pathVariable.variableName"></vezo-input>
                    </div>
                    <div class="col-span-5 w-full">

                        <vezo-select label="Variable Type" [(ngModel)]="pathVariable.variableType"
                            [items]="variableTypes" optionLabel="label" optionValue="value"></vezo-select>
                    </div>
                    <div class="col-span-2 w-full">
                        <vezo-button icon="check" (click)="savePathVariable(pathVariable)"></vezo-button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <!-- <div class="p-4">
            <h2 class="heading mb-2">Webhook Json Payload</h2>
            <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="requestJson"
                style="height: 350px"></ngx-monaco-editor>
        </div> -->
    </div>
</div>

<vezo-toast></vezo-toast>