<div class="p-3 bg-white flex place-items-center">
  <vezo-icon icon="rectangleStack" className="mr-3"></vezo-icon>
  <h1 class="title">Projects</h1>
</div>
<div class="p-4 bg-white">
  <div
    class="md:grid lg:grid-cols-3 md:grid-cols-2 space-y-4 lg:space-y-0 gap-8 mb-4"
  >
    <ng-container *ngFor="let project of data">
      <div
        class="p-4 bg-blue-700 border border-blue-200 text-white rounded"
        *ngIf="project.isdefault"
      >
        <p class="text-md font-semibold tracking-widest uppercase text-white">
          {{ project.projectName }}
        </p>
        <p class="text-xs">{{ project.projectDescription }}</p>
        <div class="py-4 min-h-[6rem]">
          <ul class="mx-6 space-y-2">
            <li class="flex place-items-center">
              <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
              <div class="ml-2 flex-grow">Microservices</div>
              <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
            </li>
            <li class="flex place-items-center">
              <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
              <div class="ml-2 flex-grow">Web Frontend</div>
              <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
            </li>
            <li class="flex place-items-center">
              <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
              <div class="ml-2 flex-grow">Mobile Frontend</div>
              <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
            </li>
          </ul>
        </div>
        <p class="text-right mr-2">
          <vezo-button
            icon="cpuChip"
            className="bg-blue-500 hover:bg-blue-600 text-white border-0 mr-2"
            label="MANAGE"
            [routerLink]="['/projects/manage/' + project.id]"
          ></vezo-button>
          <vezo-button
            icon="arrowRightCircle"
            className="bg-white hover:bg-blue-100 border-0"
            label="BUILD"
            [routerLink]="['/projects/manage/' + project.id]"
          ></vezo-button>
        </p>
      </div>
      <div
        class="p-4 bg-indigo-50 border border-indigo-200 text-indigo-700 rounded"
        *ngIf="!project.isdefault"
      >
        <p class="text-md font-semibold tracking-widest uppercase">
          {{ project.projectName }}
        </p>
        <p class="text-xs">{{ project.projectDescription }}</p>
        <div class="py-4 min-h-[6rem]">
          <ul class="mx-6 space-y-2">
            <li class="flex place-items-center">
              <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
              <div class="ml-2 flex-grow">Microservices</div>
              <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
            </li>
            <li class="flex place-items-center">
              <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
              <div class="ml-2 flex-grow">Web Frontend</div>
              <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
            </li>
            <li class="flex place-items-center">
              <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
              <div class="ml-2 flex-grow">Mobile Frontend</div>
              <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
            </li>
          </ul>
        </div>
        <p class="text-right mr-2">
          <vezo-button
            icon="cpuChip"
            className="bg-blue-500 hover:bg-blue-600 text-white mr-2"
            label="MANAGE"
            [routerLink]="['/projects/manage/' + project.id]"
          ></vezo-button>
          <vezo-button
            icon="star"
            className="bg-blue-700 hover:bg-blue-900 text-white"
            label="Default"
            (click)="setDefault(project)"
          ></vezo-button>
        </p>
      </div>
    </ng-container>

    <div
      class="p-4 bg-gray-100 cursor-pointer border min-h-[16rem] border-gray-200 text-gray-400 rounded flex place-items-center"
      routerLink="/projects/manage"
    >
      <div class="text-center w-full">
        <vezo-icon
          icon="plusCircle"
          className="w-16 h-16"
          strokeWidth="0.7"
        ></vezo-icon>
        <p>ADD PROJECT</p>
      </div>
    </div>
  </div>
</div>
<vezo-toast></vezo-toast>
