<div class="p-6 border-b bg-white">
    <h1 class="heading">Projects</h1>
</div>
<div class="p-4 bg-white">
    <div class="grid grid-cols-3 gap-8 mb-4">
        <div class="p-4 bg-blue-700 border border-blue-200 text-white rounded">
            <p class="text-md font-semibold tracking-widest uppercase text-white">NeoSell</p>
            <p class="text-xs">Short Description</p>
            <div class="py-4 min-h-[6rem]">
                <ul class="mx-6 space-y-2">
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Microservices</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Web Frontend</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Mobile Frontend</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                </ul>
            </div>
            <p class="text-right mr-2">
                <vezo-button icon="cpuChip" className="bg-indigo-400 text-white border-0 mr-2" label="MANAGE"
                    routerLink="/projects/manage"></vezo-button>
                <vezo-button icon="arrowRightCircle" className="bg-white border-0" label="BUILD"></vezo-button>
            </p>
        </div>
        <div class="p-4 bg-indigo-50 border border-indigo-200 text-indigo-700 rounded">
            <p class="text-md font-semibold tracking-widest uppercase">NeoBuy</p>
            <p class="text-xs">Short Description</p>
            <div class="py-4 min-h-[6rem]">
                <ul class="mx-6 space-y-2">
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Microservices</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Web Frontend</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Mobile Frontend</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                </ul>
            </div>
            <p class="text-right mr-2">
                <vezo-button icon="cpuChip" className="bg-indigo-400 text-white mr-2" label="MANAGE"></vezo-button>
                <vezo-button icon="star" className="bg-blue-700 text-white" label="Set Default"></vezo-button>
            </p>
        </div>
        <div class="p-4 bg-indigo-50 border border-indigo-200 text-indigo-700 rounded">
            <p class="text-md font-semibold tracking-widest uppercase">Doneo Cards</p>
            <p class="text-xs">Short Description</p>
            <div class="py-4 min-h-[6rem]">
                <ul class="mx-6 space-y-2">
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Microservices</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Web Frontend</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Mobile Frontend</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                </ul>
            </div>
            <p class="text-right mr-2">
                <vezo-button icon="cpuChip" className="bg-indigo-400 text-white mr-2" label="MANAGE"></vezo-button>
                <vezo-button icon="star" className="bg-blue-700 text-white" label="Set Default"></vezo-button>
            </p>
        </div>
        <div class="p-4 bg-indigo-50 border border-indigo-200 text-indigo-700 rounded">
            <p class="text-md font-semibold tracking-widest uppercase">NeoSpend</p>
            <p class="text-xs">Short Description</p>
            <div class="py-4 min-h-[6rem]">
                <ul class="mx-6 space-y-2">
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Microservices</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Web Frontend</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                    <li class="flex place-items-center">
                        <vezo-icon icon="cog6Tooth" className="w-4"></vezo-icon>
                        <div class="ml-2 flex-grow">Mobile Frontend</div>
                        <vezo-icon icon="arrowRight" className="w-4"></vezo-icon>
                    </li>
                </ul>
            </div>
            <p class="text-right mr-2">
                <vezo-button icon="cpuChip" className="bg-indigo-400 text-white mr-2" label="MANAGE"></vezo-button>
                <vezo-button icon="star" className="bg-blue-700 text-white" label="Set Default"></vezo-button>
            </p>
        </div>
        <div
            class="p-4 bg-gray-100 cursor-pointer border border-gray-200 text-gray-400 rounded flex place-items-center">
            <div class="text-center w-full">
                <vezo-icon icon="plusCircle" className="w-16 h-16" strokeWidth="0.7"></vezo-icon>
                <p>ADD PROJECT</p>
            </div>
        </div>
    </div>
</div>