@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can omit this if you're not using CSS variables */
:root {
  /* Colors */
  --primary: #2563eb;
  --primary-dark: #1d4ed8;
  --primary-light: #7dd3fc;
  --secondary-light: #bae6fd;
  --secondary: #0ea5e9;
  --secondary-dark: #0369a1;
  --white: #ffffff;
  --black: #000000;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}

.bg-primary, .hover\:bg-primary:hover {
  background-color: var(--primary);
}
.bg-primary-dark, .hover\:bg-primary-dark:hover  {
  background-color: var(--primary-dark);
}
.bg-primary-light, .hover\:bg-primary-light:hover {
  background-color: var(--primary-light);
}
.bg-secondary, .hover\:bg-secondary-light:hover {
  background-color: var(--secondary);
}
.bg-secondary-dark, .hover\:bg-secondary-light:hover {
  background-color: var(--secondary-dark);
}
.bg-secondary-light, .hover\:bg-secondary-light:hover {
  background-color: var(--secondary-light);
}
