<div [ngClass]="{ 'grid grid-cols-12': showSideBar, flex: !showSideBar }" class="h-[100vh]">
  <div class="col-span-2 relative shadow-md" *ngIf="showSideBar">
    <div class="p-5 grid grid-cols-12 border-b cursor-pointer" routerLink="/">
      <div class="col-span-3">
        <img src="assets/macharc_icon.svg" class="w-8" />
        <!-- <div class="border border-indigo-500 rounded-full w-8 h-8 flex justify-center items-center">
                    <p class="text-indigo-500">
                        M
                    </p>
                </div> -->
      </div>
      <div class="col-span-9">
        <div class="font-semibold">MACHARC</div>
        <div class="text-gray-400 text-xs font-light uppercase">Workspace</div>
      </div>
    </div>
    <div class="px-5 py-2 bg-indigo-50 border-b cursor-pointer" routerLink="/projects">
      <div class="flex place-items-center">
        <div class="mr-4 flex-grow">
          <div class="text-xs font-light">ACTIVE PROJECT</div>
          <div class="heading text-indigo-500">
            {{ activeProject?.projectName }}
          </div>
        </div>
        <div>
          <vezo-icon icon="arrowsRightLeft"></vezo-icon>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex">
        <div class="py-6 space-y-3 shadow-sm">
          <div class="cursor-pointer px-3 py-2" [ngClass]="{
              'bg-indigo-50 rounded-r-lg': this.menuView == 'menuItemsBackend'
            }" (click)="selectMenuItem('menuItemsBackend')" [routerLink]="['/builder/microservices']">
            <!-- <vezo-icon icon="rectangleStack"></vezo-icon> -->
            <img src="assets/microservice_L.svg" style="width: 24px; height: 24px" />
          </div>
          <div class="cursor-pointer px-3 py-2" [ngClass]="{
              'bg-indigo-50 rounded-r-lg': this.menuView == 'menuItemsDatasource'
            }" (click)="selectMenuItem('menuItemsDatasource')" [routerLink]="['/datasources']">
            <!-- <vezo-icon icon="rectangleStack"></vezo-icon> -->
            <img src="assets/Database2.svg" style="width: 24px; height: 24px" />
          </div>
          <div class="cursor-pointer px-3 py-2" [ngClass]="{
              'bg-indigo-50 rounded-r-lg':
                this.menuView == 'menuItemsFrontendWeb'
            }" routerLink="/applications" (click)="selectMenuItem('menuItemsFrontendWeb')">
            <!-- <vezo-icon icon="cubeTransparent"></vezo-icon> -->
            <img src="assets/front-end web_L.svg" style="width: 24px; height: 24px" />
          </div>
          <div class="cursor-pointer px-3 py-2" [ngClass]="{
              'bg-indigo-50 rounded-r-lg': this.menuView == 'menuItemsSettings'
            }" routerLink="/settings" (click)="selectMenuItem('menuItemsSettings')">
            <!-- <vezo-icon icon="cog8Tooth"></vezo-icon> -->
            <img src="assets/settings_L.svg" style="width: 24px; height: 24px" />
          </div>
        </div>
        <div class="overflow-y-scroll h-[67vh]">
          <vezo-menu [items]="this.getMenuItems()"></vezo-menu>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 w-full bg-white">
      <div class="flex place-items-center border-t">
        <div class="py-4 px-2 text-right bg-gray-100 cursor-pointer flex-none" (click)="toggleSideBar()">
          <vezo-icon icon="chevronLeft"></vezo-icon>
        </div>
        <div class="flex-none px-2">
          <div class="w-8 h-8 bg-indigo-700 rounded-full text-white flex items-center justify-center">
            PY
          </div>
        </div>
        <div class="px-2 bg-white flex-grow">
          <div class="uppercase" style="font-size: 12px; font-weight: 500; color: #2e2e2e">
            {{ username }}
          </div>
          <div class="uppercase" style="font-size: 10px; font-weight: 400; color: #2e2e2e">
            {{ roles }}
          </div>
        </div>
        <div class="pr-2 flex-none text-red-400 cursor-pointer" (click)="logout()">
          <!-- <vezo-icon icon="arrowRightOnRectangle"></vezo-icon> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-circle-arrow-out-up-right">
            <path d="M22 12A10 10 0 1 1 12 2" />
            <path d="M22 2 12 12" />
            <path d="M16 2h6v6" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="p-4 text-right bg-gray-100 cursor-pointer flex-none shadow-md" *ngIf="!showSideBar">
    <div class="py-6 space-y-6">
      <div class="cursor-pointer" routerLink="/">
        <img src="assets/macharc_icon.svg" class="w-6" />
      </div>
      <div class="cursor-pointer" routerLink="/projects">
        <vezo-icon icon="rectangleStack" [isTooltip]="true" [tooltipText]="'Projects'"></vezo-icon>
      </div>
      <div class="cursor-pointer" routerLink="/datasources" (click)="selectMenuItem('menuItemsBackend')">
        <vezo-icon icon="circleStack" [isTooltip]="true" [tooltipText]="'Data sources'"></vezo-icon>
      </div>
      <div class="cursor-pointer" [routerLink]="['/builder/microservices']"
        (click)="selectMenuItem('menuItemsBackend')">
        <!-- <vezo-icon
          icon="rectangleStack"
          [isTooltip]="true"
          [tooltipText]="'Microservices'"
        ></vezo-icon> -->
        <img src="assets/microservice_L.svg" style="width: 24px; height: 24px" />
      </div>
      <div class="cursor-pointer" routerLink="/applications" (click)="selectMenuItem('menuItemsFrontendWeb')">
        <!-- <vezo-icon
          icon="cubeTransparent"
          [isTooltip]="true"
          [tooltipText]="'Applications'"
        ></vezo-icon> -->
        <img src="assets/front-end web_L.svg" style="width: 24px; height: 24px" />
      </div>
      <!-- <div
        class="cursor-pointer"
        routerLink="/builder/mobile"
        (click)="selectMenuItem('menuItemsFrontendMobile')"
      >
        <vezo-icon
          icon="devicePhoneMobile"
          [isTooltip]="true"
          [tooltipText]="'Mobile Builder'"
        ></vezo-icon>
      </div> -->
      <div class="cursor-pointer" routerLink="/settings" (click)="selectMenuItem('menuItemsSettings')">
        <vezo-icon icon="cog8Tooth" [isTooltip]="true" [tooltipText]="'Settings'"></vezo-icon>
      </div>
      <div style="
          position: fixed;
          bottom: 0;
          padding-bottom: 16px;
          padding-top: 16px;
        ">
        <div (click)="logout()" class="mb-4 text-red-400">
          <!-- <vezo-icon
            icon="arrowRightOnRectangle"
            [isTooltip]="true"
            [tooltipText]="'Log out'"
          ></vezo-icon> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-circle-arrow-out-up-right">
            <path d="M22 12A10 10 0 1 1 12 2" />
            <path d="M22 2 12 12" />
            <path d="M16 2h6v6" />
          </svg>
        </div>
        <div (click)="toggleSideBar()" class="bg-gray-100">
          <vezo-icon icon="chevronRight"></vezo-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full" [ngClass]="{ 'col-span-10': showSideBar, 'flex-grow': !showSideBar }">
    <div [ngClass]="{
        'p-5': giveDefaultPadding,
        'bg-white h-screen overflow-x-scroll': true
      }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>