<div [ngClass]="{'grid grid-cols-12': showSideBar, 'flex': !showSideBar }">
    <div class="col-span-2 relative" *ngIf="showSideBar">
        <div class="p-5 grid grid-cols-12 border-b cursor-pointer" routerLink="/">
            <div class="col-span-3">
                <img src="assets/macharc_icon.svg" class="w-8" />
                <!-- <div class="border border-indigo-500 rounded-full w-8 h-8 flex justify-center items-center">
                    <p class="text-indigo-500">
                        M
                    </p>
                </div> -->
            </div>
            <div class="col-span-9">
                <div class="font-semibold">MACHARC</div>
                <div class="text-gray-400 text-xs font-light uppercase">Workspace</div>
            </div>
        </div>
        <div class="">
            <vezo-menu [items]="menuItems"></vezo-menu>
        </div>
        <div class="absolute bottom-0">
            <div class="p-4 text-right bg-gray-100 cursor-pointer" (click)="showSideBar=!showSideBar">
                <vezo-icon icon="chevronLeft"></vezo-icon>
            </div>
            <div class="p-5 grid grid-cols-12  w-full bg-white border-t">
                <div class="col-span-3">
                    <div class="w-8 h-8 bg-indigo-700 rounded-full text-white flex items-center justify-center">PY</div>
                </div>
                <div class="col-span-8">
                    <div class="uppercase">{{ username }}</div>
                    <div class=" text-gray-400 text-xs font-light uppercase">{{ roles }}</div>
                </div>
                <div class="col-span-1 cursor-pointer" (click)="logout()">
                    <vezo-icon icon="arrowRightOnRectangle"></vezo-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4 text-right bg-gray-100 cursor-pointer flex-none" *ngIf="!showSideBar"
        (click)="showSideBar=!showSideBar">
        <vezo-icon icon="chevronRight"></vezo-icon>
    </div>
    <div class="p-10 bg-gray-50 h-screen overflow-x-scroll  w-full"
        [ngClass]="{'col-span-10': showSideBar, 'flex-grow': !showSideBar }">
        <router-outlet></router-outlet>
    </div>
</div>