<div [ngClass]="{ 'grid grid-cols-12': showSideBar, flex: !showSideBar }">
  <div class="col-span-2 relative shadow-md" *ngIf="showSideBar">
    <div class="p-5 grid grid-cols-12 border-b cursor-pointer" routerLink="/" (click)="resetMenuItems()">
      <div class="col-span-3">
        <img src="assets/macharc_icon.svg" class="w-8" />
        <!-- <div class="border border-indigo-500 rounded-full w-8 h-8 flex justify-center items-center">
                    <p class="text-indigo-500">
                        M
                    </p>
                </div> -->
      </div>
      <div class="col-span-9">
        <div class="font-semibold">MACHARC</div>
        <div class="text-gray-400 text-xs font-light uppercase">Workspace</div>
      </div>
    </div>
    <div
      class="px-5 py-2 bg-indigo-50 border-b cursor-pointer"
      routerLink="/projects" (click)="resetMenuItems()"
    >
      <div class="flex place-items-center">
        <div class="mr-4 flex-grow">
          <div class="text-xs font-light">ACTIVE PROJECT</div>
          <div class="heading text-indigo-500">
            {{ activeProject?.projectName }}
          </div>
        </div>
        <div>
          <vezo-icon icon="arrowsRightLeft"></vezo-icon>
        </div>
      </div>
    </div>
    <div class="h-[80vh] ">
      <div class="flex">
        <div class="py-6 space-y-3 shadow-sm">
          <div
            class="cursor-pointer  px-3 py-2" [ngClass]="{'bg-indigo-50 rounded-r-lg' : this.menuView =='menuItemsBackend' }"  (click)="selectMenuItem('menuItemsBackend')"
            [routerLink]="['/builder/microservices/' + activeProject?.id]"
          >
            <vezo-icon icon="rectangleStack" ></vezo-icon>
          </div>
          <div class="cursor-pointer px-3 py-2" [ngClass]="{'bg-indigo-50 rounded-r-lg' : this.menuView =='menuItemsFrontendWeb' }" routerLink="/applications" (click)="selectMenuItem('menuItemsFrontendWeb')">
            <vezo-icon icon="cubeTransparent"></vezo-icon>
          </div>
          <div class="cursor-pointer  px-3 py-2" [ngClass]="{'bg-indigo-50 rounded-r-lg' : this.menuView =='menuItemsFrontendMobile' }"  routerLink="/" (click)="selectMenuItem('menuItemsFrontendMobile')">
            <vezo-icon icon="devicePhoneMobile"></vezo-icon>
          </div>
          <div class="cursor-pointer px-3 py-2" [ngClass]="{'bg-indigo-50 rounded-r-lg' : this.menuView =='menuItemsSettings' }"  routerLink="/settings" (click)="selectMenuItem('menuItemsSettings')">
            <vezo-icon icon="cog8Tooth"></vezo-icon>
          </div>
        </div>
        <div class="overflow-y-scroll h-[72vh]">
          <vezo-menu [items]="this.getMenuItems()"></vezo-menu>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 w-full bg-white">
      <div class="flex place-items-center border-t">
        <div
          class="py-4 px-2 text-right bg-gray-100 cursor-pointer flex-none"
          (click)="toggleSideBar()"
        >
          <vezo-icon icon="chevronLeft"></vezo-icon>
        </div>
        <div class="flex-none px-2">
          <div
            class="w-8 h-8 bg-indigo-700 rounded-full text-white flex items-center justify-center"
          >
            PY
          </div>
        </div>
        <div class="px-2 bg-white flex-grow">
          <div class="uppercase">{{ username }}</div>
          <div class="text-gray-400 text-xs font-light uppercase">
            {{ roles }}
          </div>
        </div>
        <div class="px-2 flex-none cursor-pointer" (click)="logout()">
          <vezo-icon icon="arrowRightOnRectangle"></vezo-icon>
        </div>
      </div>
    </div>
  </div>
  <div
    class="p-4 text-right bg-gray-100 cursor-pointer flex-none shadow-md"
    *ngIf="!showSideBar"
  >
    <div class="py-6 space-y-6">
      <div class="cursor-pointer" routerLink="/" (click)="resetMenuItems()">
        <img src="assets/macharc_icon.svg" class="w-6" />
      </div>
      <div class="cursor-pointer" routerLink="/projects" (click)="resetMenuItems()">
        <vezo-icon icon="arrowsRightLeft" [isTooltip]="true" [tooltipText]="'Projects'"></vezo-icon>
      </div>
      <div class="cursor-pointer" routerLink="/datasources" (click)="selectMenuItem('menuItemsBackend')">
        <vezo-icon icon="circleStack" [isTooltip]="true" [tooltipText]="'Data sources'"></vezo-icon>
      </div>
      <div class="cursor-pointer" [routerLink]="['/builder/microservices/' + activeProject?.id]" (click)="selectMenuItem('menuItemsBackend')"
      >
        <vezo-icon icon="rectangleStack" [isTooltip]="true" [tooltipText]="'Microservices'"></vezo-icon>
      </div>
      <div class="cursor-pointer" routerLink="/applications" (click)="selectMenuItem('menuItemsFrontendWeb')">
        <vezo-icon icon="cubeTransparent" [isTooltip]="true" [tooltipText]="'Applications'"></vezo-icon>
      </div>
      <div class="cursor-pointer" routerLink="/builder/mobile" (click)="selectMenuItem('menuItemsFrontendMobile')">
        <vezo-icon icon="devicePhoneMobile" [isTooltip]="true" [tooltipText]="'Mobile Builder'"></vezo-icon>
      </div>
      <div class="cursor-pointer" routerLink="/settings" (click)="selectMenuItem('menuItemsSettings')">
        <vezo-icon icon="cog8Tooth" [isTooltip]="true" [tooltipText]="'Settings'"></vezo-icon>
      </div>
      <div (click)="toggleSideBar()">
        <vezo-icon icon="chevronRight"></vezo-icon>
      </div>
      <div (click)="logout()" style="position: fixed; bottom: 0; padding-bottom: 16px; padding-top: 16px;" >
        <vezo-icon icon="arrowRightOnRectangle" [isTooltip]="true" [tooltipText]="'Log out'"></vezo-icon>
      </div>
    </div>
  </div>
  <div
    class="w-full"
    [ngClass]="{ 'col-span-10': showSideBar, 'flex-grow': !showSideBar }"
  >
    <div class="p-10 bg-white h-screen overflow-x-scroll ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
