<div *ngIf="nestedElement == 'row' ">
    <div (dndDrop)="onDrop($event, child.children)"
        class="name gap-{{child.data.gap}} grid grid-rows-1 grid-flow-col justify-{{child.data.alignment}} items-{{child.data.vAlignment}} "
        [ngStyle]="{'margin-top': child.data.startSpacing+'px' ,'margin-bottom': child.data.endSpacing+'px'}"
        dndDropzone dndEffectAllowed="copyMove" (click)="handleClick($event, child)"
        [ngClass]="{'p-8':  (!this.child.children || this.child.children.length === 0) }">
        <div class=" dndPlaceholder h-16 border bg-blue-400 bg-opacity-25" dndPlaceholderRef>
        </div>
        <div *ngFor="let item of child.children" [dndDraggable]="item"
            (dndCanceled)="onDragged(item, child.children!, 'none')"
            (dndCopied)="onDragged(item, child.children!,'move')" (dndLinked)="onDragged(item, child.children!, 'link')"
            (dndMoved)="onDragged(item, child.children!, 'move')">
            <div [ngClass]="{'border border-dashed border-indigo-300': this.isParentForm == false}"
                class="draggable-item  cursor-pointer relative overflow-x: auto;">
                <ng-container *ngIf="item.name === 'row'">
                    <app-nested [child]="item" [layout]="layout" [nestedElement]="'row'" [isParentForm]="this.isParentForm"
                        (nodeClicked)="onChildNodeClicked($event)"></app-nested>
                </ng-container>
                <ng-container *ngIf="item.name === 'container'">
                    <app-nested [child]="item" [layout]="layout" [nestedElement]="'container'" [isParentForm]="this.isParentForm"
                        (nodeClicked)="onChildNodeClicked($event)"></app-nested>
                </ng-container>
                <ng-container *ngIf="item.name === 'grid'">
                    <app-nested [child]="item" [layout]="layout" [nestedElement]="'grid'" [isParentForm]="this.isParentForm"
                        (nodeClicked)="onChildNodeClicked($event)"></app-nested>
                </ng-container>
                <ng-container *ngIf="item.name !== 'row' && item.name !== 'container' && item.name !== 'grid' ">
                    <app-blocks [block]="item" (click)="handleClick($event, item)"></app-blocks>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div *ngIf="nestedElement == 'container'">
    <div (dndDrop)="onDrop($event, child.children)" (click)="handleClick($event, child)"
        class="name gap-{{child.data.gap}} grid grid-cols-{{child.data.columns}} flex justify-{{child.data.alignment}} items-{{child.data.vAlignment}} shadow-{{child.data.shadow}}"
        [ngStyle]="{ 'width' : child.data?.width ? child.data?.width+'px':'auto' ,'height' :child.data?.height? child.data?.height+'px':'auto' , 'background-color' : child.data?.bgColor ,
        'background-image': 'url(' + child.data?.bgImage + ')' , 'background-size': 'cover', 'background-position':'center' ,'border-width': child.data.borderWidth+'px' ,'border-radius': child.data.borderRadius+'px' , 'border-color': child.data.borderColor,
        'margin-top': child.data?.mt+'px', 'margin-bottom': child.data?.mb+'px', 'margin-left': child.data?.ml+'px', 'margin-right': child.data?.mr+'px' ,
        'padding-top': child.data?.pt+'px','padding-bottom': child.data?.pb+'px', 'padding-left': child.data?.pl+'px', 'padding-right': child.data?.pr+'px'}"
        [ngClass]="{'p-8':  (!this.child.children || this.child.children.length === 0) }" dndDropzone
        dndEffectAllowed="copyMove">
        <div class=" dndPlaceholder h-16 border bg-blue-400 bg-opacity-25" dndPlaceholderRef>
        </div>
        <div *ngFor="let subChild of child.children" [dndDraggable]="subChild"
            (dndCanceled)="onDragged(subChild, child.children!, 'none')"
            (dndCopied)="onDragged(subChild, child.children!, 'move'  )"
            (dndLinked)="onDragged(subChild, child.children!, 'link'  )"
            (dndMoved)="onDragged(subChild, child.children!, 'move')" class="">

            <div [ngClass]="{'border border-dashed border-indigo-300': this.isParentForm == false}">
                <!-- Because This line was not working in the case of nested grid -->
                <!-- <app-blocks [block]="child" (click)="handleClick($event, child)"></app-blocks> -->

                <ng-container *ngIf="subChild.name === 'container'">
                    <app-nested [child]="subChild" [layout]="layout" [nestedElement]="'container'" [isParentForm]="this.isParentForm"
                        (nodeClicked)="onChildNodeClicked($event)"></app-nested>
                </ng-container>
                <ng-container *ngIf="subChild.name === 'row'">
                    <app-nested [child]="subChild" [layout]="layout" [nestedElement]="'row'" [isParentForm]="this.isParentForm"
                        (nodeClicked)="onChildNodeClicked($event)"></app-nested>
                </ng-container>
                <ng-container *ngIf="subChild.name === 'grid'">
                    <app-nested [child]="subChild" [layout]="layout" [nestedElement]="'grid'" [isParentForm]="this.isParentForm"
                        (nodeClicked)="onChildNodeClicked($event)"></app-nested>
                </ng-container>
                <ng-container *ngIf="subChild.name !== 'row' && subChild.name !== 'container' && subChild.name !== 'grid' ">
                    <app-blocks [block]="subChild" (click)="handleClick($event, subChild)"></app-blocks>
                </ng-container>
            </div>

        </div>
    </div>
</div>

<div *ngIf="nestedElement == 'grid'">
    <div (dndDrop)="onDrop($event, child.children)"
        class="name gap-{{child.data.gap}} grid grid-cols-{{child.data.columns}} justify-{{child.data.alignment}} items-{{child.data.vAlignment}}"
        [ngClass]="{'p-8':  (!child.children || child.children.length === 0) }"
        [ngStyle]="{'margin-top': child.data.mt+'px' ,'margin-bottom': child.data.mb+'px','margin-left': child.data.ml+'px','margin-right': child.data.mr+'px'}"
        dndDropzone dndEffectAllowed="copyMove" (click)="handleClick($event, child)">
        <div class=" dndPlaceholder h-16 border bg-blue-400 bg-opacity-25" dndPlaceholderRef>
        </div>
        <div *ngFor="let subChild of child.children" [dndDraggable]="subChild"
            (dndCanceled)="onDragged(subChild, child.children!, 'none')"
            (dndCopied)="onDragged(subChild, child.children!, 'move')"
            (dndLinked)="onDragged(subChild, child.children!, 'link')"
            (dndMoved)="onDragged(subChild, child.children!, 'move')" class="name">
            <div [ngClass]="{'border border-dashed border-indigo-300': this.isParentForm == false}">
                <!-- Because This line was not working in the case of nested grid -->
                <!-- <app-blocks [block]="child" (click)="handleClick($event, child)"></app-blocks> -->
                <ng-container *ngIf="subChild.name === 'grid'">
                    <app-nested [child]="subChild" [layout]="layout" [nestedElement]="'grid'" [isParentForm]="this.isParentForm"
                        (nodeClicked)="onChildNodeClicked($event)"></app-nested>
                </ng-container>
                <ng-container *ngIf="subChild.name === 'container'">
                    <app-nested [child]="subChild" [layout]="layout" [nestedElement]="'container'" [isParentForm]="this.isParentForm"
                        (nodeClicked)="onChildNodeClicked($event)"></app-nested>
                </ng-container>
                <ng-container *ngIf="subChild.name === 'row'">
                    <app-nested [child]="subChild" [layout]="layout" [nestedElement]="'row'" [isParentForm]="this.isParentForm"
                        (nodeClicked)="onChildNodeClicked($event)"></app-nested>
                </ng-container>
                <ng-container *ngIf="subChild.name !== 'row' && subChild.name !== 'container' && subChild.name !== 'grid' ">
                    <app-blocks [block]="subChild" (click)="handleClick($event, subChild)"></app-blocks>
                </ng-container>
            </div>
        </div>
    </div>
</div>