<div class="grid grid-cols-12 min-h-full">
    <div class="col-span-3 border-r">
        <div class="heading mb-6">BUILD PROJECT</div>
        <div class="">
            <div class="flex place-items-center">
                <div class="w-8 h-8 bg-green-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Define Project
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class=" w-8 h-8 bg-orange-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Create Microservices
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class=" w-8 h-8 bg-gray-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Define Services
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class=" w-8 h-8 bg-gray-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Create Frontend Applications
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class="w-8 h-8 bg-gray-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Define Processes
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class="w-8 h-8 bg-gray-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Build and Deploy
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-9">
        <div class="p-6 border-b bg-white">
            <h1 class="heading">Project</h1>
        </div>
        <div class="bg-white m-6 p-4">
            <div class="grid grid-cols-2 gap-6 mb-4">
                <vezo-input label="Project Code" placeholder="Enter Project Code"></vezo-input>
                <vezo-input label="Project Name" placeholder="Enter Project Name"></vezo-input>
                <vezo-textarea label="Project Description" placeholder="Enter Description"></vezo-textarea>
                <div></div>
                <vezo-switch label="Publish"></vezo-switch>
            </div>
            <div class="text-right">
                <vezo-button label="Cancel" className="mr-2 bg-white"></vezo-button>
                <vezo-button label="Save"></vezo-button>
            </div>
        </div>
    </div>
</div>