<vezo-toast></vezo-toast>
<div class="mt-5 mb-3 " style="height: 80vh; display: flex; justify-content: center; align-items: center;">
    <div class="flex w-full gap-5" style="align-items: center; justify-content: center;">

        <div class="flex-auto grow-0 px-2 "
            style="width:70%; height: 600px; display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 12px; background: url('assets/leftBg.png'); background-size: cover; background-repeat: repeat; background-position:center;">
            <div class="text-lg xl:text-3xl" style=" font-weight: 600; color: #FFFFFF;">Create Your Project</div>
            <div class="mt-4 mx-24 text-sm xl:text-lg text-center" style=" font-weight: 400; color: #3730A3;">
                Create a new project effortlessly with our low code, no code website builder. Design, develop, and
                deploy your project without writing a single line of code.</div>
            <div class="mt-6 mx-24 text-sm xl:text-lg text-center" style=" font-weight: 400; color: #3730A3;"> Simply
                choose your project type, customize your design, add functionality with drag-and-drop components, and
                launch your project with ease. </div>
            <img src="assets/projectPic.png" style="width: 270px;" class="mt-6" />
        </div>

        <!-- Project Form Starts from here -->
        <div 
            style="width:30%; display:flex; height: 600px;justify-content: start; flex-direction: column; align-items: center; ">
            <img src="assets/macharcLogo.png" style="width: 235px;" class="mt-1" />
            <form [formGroup]="form" class=" w-full">

                <div class="mt-6">
                    <vezo-input label="Application Code" placeholder="Enter Application Code" class="InputText"
                        formControlName="projectCode"></vezo-input>
                </div>

                <div class="mt-6">
                    <vezo-input label="Application Name" placeholder="Enter Application Name" class="InputText"
                        formControlName="projectName"></vezo-input>
                </div>

                <div class="mt-6">
                    <vezo-textarea label="Application Description" placeholder="Enter Application Description" class="InputText"
                        formControlName="projectDescription"></vezo-textarea>
                </div>


                <div class="mt-4">
                    <vezo-switch label="Default" formControlName="isdefault"></vezo-switch>
                </div>

                <div class="text-center mt-6">
                    <!-- <vezo-button label="Cancel" className="mr-2 bg-white"></vezo-button> -->
                    <vezo-button label="Get started" (click)="submit()" className="btn"></vezo-button>
                </div>
            </form>
        </div>


    </div>
</div>