<div class="grid grid-cols-12 min-h-full">
    <div class="col-span-3 border-r">
        <div class="heading mb-6">BUILD FRONTEND</div>
        <div class="">
            <div class="flex place-items-center">
                <div class="w-8 h-8 bg-green-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Define Application
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class=" w-8 h-8 bg-orange-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Create Forms
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class=" w-8 h-8 bg-gray-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Create Screens
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class=" w-8 h-8 bg-gray-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Create Reports
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class="w-8 h-8 bg-gray-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Define Processes
                </div>
            </div>
            <div class="h-[2rem] border-l ml-4"></div>
            <div class="flex place-items-center">
                <div class="w-8 h-8 bg-gray-400 rounded-full text-white">
                    &nbsp;
                </div>
                <div class="pl-4">
                    Build and Deploy
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-9">
        <div class="p-6 border-b bg-white">
            <h1 class="heading">Application</h1>
        </div>
        <div class="bg-white m-6 p-4">
            <form [formGroup]="form">
                <div class="grid grid-cols-2 gap-6 mb-4">
                    <vezo-input label="Application Code" placeholder="Enter Application Code"
                        formControlName="applicationCode"></vezo-input>
                    <vezo-input label="Application Name" placeholder="Enter Application Name"
                        formControlName="applicationName"></vezo-input>

                    <vezo-input label="Backend Api Url" placeholder="Enter Gateway URL"
                        formControlName="backendApiUrl"></vezo-input>
                    <vezo-textarea label="Application Description" placeholder="Enter Description"
                        formControlName="applicationDescription"></vezo-textarea>

                </div>
                <div class="text-right">
                    <vezo-button label="Cancel" className="mr-2 bg-white"></vezo-button>
                    <vezo-button label="Save" (click)="saveData()"></vezo-button>
                </div>
            </form>
        </div>
    </div>
</div>
<vezo-toast></vezo-toast>