<div class="w-2/3 bg-white p-16 m-8 mx-auto">
  <form [formGroup]="form">
    <div class="flex">
      <div class="mr-4">
        <vezo-input
          label="Data Source Name"
          formControlName="dataSourceName"
        ></vezo-input>
        <error-message
          [controlName]="form.controls['dataSourceName']"
        ></error-message>
      </div>
      <div class="flex-grow">
        <vezo-select
          label="Datasource Type"
          formControlName="dbType"
          [items]="dbTypes"
          optionLabel="name"
          optionValue="name"
          (ngModelChange)="setDefaultPort()"
        ></vezo-select>
        <error-message [controlName]="form.controls['dbType']"></error-message>
      </div>
    </div>
    <div class="my-4" *ngIf="form.value.dbUrl">
      <span class="font-semibold"> DB Url:</span> {{ form.value.dbUrl }}
    </div>
    <ng-container *ngIf="form.controls['dbType'].value != 'API'">
      <div class="flex">
        <div class="mr-4">
          <vezo-input
            label="Datasource Host"
            formControlName="dbHost"
          ></vezo-input>
          <error-message
            [controlName]="form.controls['dbHost']"
          ></error-message>
        </div>
        <div class="mr-4">
          <vezo-input
            label="Datasource Port"
            formControlName="dbPort"
          ></vezo-input>
          <error-message
            [controlName]="form.controls['dbPort']"
          ></error-message>
        </div>
        <div class="">
          <vezo-input
            label="Datasource DB Name"
            formControlName="dbDatabaseName"
          ></vezo-input>
          <error-message
            [controlName]="form.controls['dbDatabaseName']"
          ></error-message>
        </div>
      </div>
      <div class="my-4" *ngIf="form.value.driverClassName">
        <span class="font-semibold"> Driver Class Name:</span>
        {{ form.value.driverClassName }}
      </div>
      <div class="flex">
        <div class="mr-4">
          <vezo-input label="Username" formControlName="username"></vezo-input>
          <error-message
            [controlName]="form.controls['username']"
          ></error-message>
        </div>

        <div class="mr-4">
          <vezo-input
            label="Password"
            type="password"
            formControlName="password"
          ></vezo-input>
          <error-message
            [controlName]="form.controls['password']"
          ></error-message>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="form.controls['dbType'].value == 'API'">
      <vezo-input label="API Url" formControlName="apiUrl"></vezo-input>
      <error-message [controlName]="form.controls['apiUrl']"></error-message>
      <vezo-textarea label="Token" formControlName="authToken"></vezo-textarea>
      <error-message [controlName]="form.controls['authToken']"></error-message>
    </ng-container>
  </form>
  <div class="text-right">
    <vezo-button
      label="Save"
      [disabled]="!form.valid"
      (click)="saveData()"
    ></vezo-button>
  </div>
</div>
