<div class="w-full bg-white p-8  mx-auto">
  <form [formGroup]="form">
    <div class="flex w-full gap-6 justify-between items-center">
      <div class="w-1/2">
        <vezo-input label="Data Source Name" formControlName="dataSourceName"></vezo-input>
        <error-message [controlName]="form.controls['dataSourceName']"></error-message>
      </div>
      <div class="w-1/2">
        <vezo-select label="Datasource Type" formControlName="dbType" [items]="dbTypes" optionLabel="name"
          optionValue="name" (ngModelChange)="setDefaultPort()"></vezo-select>
        <error-message [controlName]="form.controls['dbType']"></error-message>
      </div>
    </div>
    <div class="my-4" *ngIf="form.value.dbUrl">
      <span class="font-semibold"> DB URL:</span> {{ form.value.dbUrl }}
    </div>
    <ng-container *ngIf="form.controls['dbType'].value != 'API'">
      <div class="flex  w-full gap-6 justify-between items-center mt-4">
        <div class="w-4/12">
          <vezo-input label="Datasource Host" formControlName="dbHost"></vezo-input>
          <error-message [controlName]="form.controls['dbHost']"></error-message>
        </div>
        <div class="w-4/12">
          <vezo-input label="Datasource Port" formControlName="dbPort"></vezo-input>
          <error-message [controlName]="form.controls['dbPort']"></error-message>
        </div>
        <div class="w-4/12">
          <vezo-input label="Datasource DB Name" formControlName="dbDatabaseName"></vezo-input>
          <error-message [controlName]="form.controls['dbDatabaseName']"></error-message>
        </div>
      </div>
      <div class="my-4" *ngIf="form.value.driverClassName">
        <span class="font-semibold"> Driver Class Name:</span>
        {{ form.value.driverClassName }}
      </div>
      <div class="flex w-full gap-6 justify-between items-center mt-4">
        <div class="w-1/2 ">
          <vezo-input label="Username" formControlName="username"></vezo-input>
          <error-message [controlName]="form.controls['username']"></error-message>
        </div>
        <div class="w-1/2">
          <vezo-input label="Password" type="password" formControlName="password"></vezo-input>
          <error-message [controlName]="form.controls['password']"></error-message>
        </div>
      </div>
    </ng-container>
    <div class="mt-2">
      <ng-container *ngIf="form.controls['dbType'].value == 'API'">
        <vezo-input label="API Url" formControlName="apiUrl"></vezo-input>
        <error-message [controlName]="form.controls['apiUrl']"></error-message>
        <vezo-textarea label="Token" formControlName="authToken"></vezo-textarea>
        <error-message [controlName]="form.controls['authToken']"></error-message>
      </ng-container>
    </div>
  </form>
  <div class="text-right mt-4">
    <vezo-button label="Save" [disabled]="!form.valid" (click)="saveData()"></vezo-button>
  </div>
</div>