<ng-container *ngIf="block.name === 'heading'">
    <div class="text-lg min-w-full text-{{block.data?.alignment}}" contenteditable [(ngModel)]="block.data.text"
        [ngStyle]="{'display':'flex','justify-content':block.data?.alignment,'align-items':block.data?.vAlignment ,'font-size': block.data?.fontSize+'px' ,'font-weight':block.data?.fontWeight , 'color': block.data?.fontColor,
        'margin-top':  block.data?.mt+'px', 'margin-bottom':  block.data?.mb+'px',  'margin-left':  block.data?.ml+'px',  'margin-right':  block.data?.mr+'px',
        'padding-top':  block.data?.pt+'px',  'padding-bottom':  block.data?.pb+'px',  'padding-left':  block.data?.pl+'px',  'padding-right':  block.data?.pr+'px'
     }">{{ block.data?.text }}</div>
</ng-container>
<ng-container *ngIf="block.name === 'button'">
    <div class="text-{{ block.data?.align ? block.data.align : block.data?.btnAlignment }}">
        <vezo-button [label]="block.data?.label"
            [btnInfo]="{ btnTextSize: block.data?.btnTextFont+'px', btnTextWeight: block.data?.btnTextWeight, btnTextColor: block.data?.btnTextColor , 
            borderWidth: block.data?.borderWidth+'px', borderColor: block.data?.borderColor, borderRadius: block.data?.borderRadius+'px' ,  bgColor: block.data?.bgColor, width: block.data?.width+'px',  height: block.data?.height+'px' ,
            btnAlignment:  block.data?.btnAlignment, textAlignment:  block.data?.textAlignment ,
            mt:  block.data?.mt+'px',  mb:  block.data?.mb+'px',  ml:  block.data?.ml+'px',  mr:  block.data?.mr+'px'}"></vezo-button>
    </div>
</ng-container>
<!-- Input Field with the delete option 
<div class="relative-container">
    <div class="trash-icon" *ngIf="block?.id == this.activeItem?.id">
        <vezo-icon icon="trash" class="mr-2  text-blue-500 cursor-pointer"
            className="w-4 h-4"></vezo-icon>
    </div>
    <ng-container *ngIf="block.name === 'input'">
        <vezo-input [label]="block.data?.label" [placeholder]="block.data?.placeholder" [labelInfo]="{ size: block.data?.labelFont+'px', weight: block.data?.labelWeight, color: block.data?.labelColor, 
        height: block.data?.fieldHeight+'px' , radius: block.data?.fieldRadius+'px' , fillColor: block.data?.fillColor,
        borderColor: block.data?.borderColor , borderWidth: block.data?.borderWidth+'px' ,
        mt: block.data?.mt+'px',mb: block.data?.mb+'px',ml: block.data?.ml+'px',mr: block.data?.mr+'px' ,
        pt: block.data?.pt+'px',pb: block.data?.pb+'px',pl: block.data?.pl+'px',pr: block.data?.pr+'px' }"></vezo-input>
    </ng-container>
</div> -->
<ng-container *ngIf="block.name === 'input'">
    <vezo-input [label]="block.data?.label" [placeholder]="block.data?.placeholder" [labelInfo]="{ size: block.data?.labelFont+'px', weight: block.data?.labelWeight, color: block.data?.labelColor, 
    height: block.data?.fieldHeight+'px' , radius: block.data?.fieldRadius+'px' , fillColor: block.data?.fillColor,
    borderColor: block.data?.borderColor , borderWidth: block.data?.borderWidth+'px' ,
    mt: block.data?.mt+'px',mb: block.data?.mb+'px',ml: block.data?.ml+'px',mr: block.data?.mr+'px' ,
    pt: block.data?.pt+'px',pb: block.data?.pb+'px',pl: block.data?.pl+'px',pr: block.data?.pr+'px' }"></vezo-input>
</ng-container>
<ng-container *ngIf="block.name === 'textarea'">
    <vezo-textarea [label]="block.data?.label" [placeholder]="block.data?.placeholder" [labelInfo]="{ size: block.data?.labelFont+'px', weight: block.data?.labelWeight, color: block.data?.labelColor , fillColor: block.data?.fillColor,
    borderColor: block.data?.borderColor , borderWidth: block.data?.borderWidth+'px',
    height: block.data?.fieldHeight+'px', borderRadius: block.data?.borderRadius+'px',
    mt: block.data?.mt+'px',mb: block.data?.mb+'px',ml: block.data?.ml+'px',mr: block.data?.mr+'px' ,
    pt: block.data?.pt+'px',pb: block.data?.pb+'px',pl: block.data?.pl+'px',pr: block.data?.pr+'px' }"></vezo-textarea>
</ng-container>
<ng-container *ngIf="block.name === 'dropdown'">
    <vezo-select [label]="block.data?.label" [placeholder]="block.data?.placeholder" [labelInfo]="{ size: block.data?.labelFont+'px', weight: block.data?.labelWeight, color: block.data?.labelColor
       , height: block.data?.fieldHeight+'px' , radius: block.data?.fieldRadius+'px' , fillColor: block.data?.fillColor,
    borderColor: block.data?.borderColor , borderWidth: block.data?.borderWidth+'px' ,
    mt: block.data?.mt+'px',mb: block.data?.mb+'px',ml: block.data?.ml+'px',mr: block.data?.mr+'px' ,
    pt: block.data?.pt+'px',pb: block.data?.pb+'px',pl: block.data?.pl+'px',pr: block.data?.pr+'px'
     }"></vezo-select>
</ng-container>
<ng-container *ngIf="block.name === 'checkbox'">
    <div class="flex" [ngStyle]="{'justify-content' : block.data.alignment}">
        <vezo-checkbox [label]="block.data?.label" [labelInfo]="{ size: block.data?.labelFont+'px', weight: block.data?.labelWeight, color: block.data?.labelColor,
        mt: block.data?.mt+'px',mb: block.data?.mb+'px',ml: block.data?.ml+'px',mr: block.data?.mr+'px' ,
         pt: block.data?.pt+'px',pb: block.data?.pb+'px',pl: block.data?.pl+'px',pr: block.data?.pr+'px'
     }"></vezo-checkbox>
    </div>
</ng-container>
<ng-container *ngIf="block.name === 'radio'">
    <div class="flex" [ngStyle]="{'justify-content' : block.data.alignment}">
        <vezo-radiobutton [label]="block.data?.label" [labelInfo]="{ size: block.data?.labelFont+'px', weight: block.data?.labelWeight, color: block.data?.labelColor,
            mt: block.data?.mt+'px',mb: block.data?.mb+'px',ml: block.data?.ml+'px',mr: block.data?.mr+'px' ,
    pt: block.data?.pt+'px',pb: block.data?.pb+'px',pl: block.data?.pl+'px',pr: block.data?.pr+'px'
         }"></vezo-radiobutton>
    </div>
</ng-container>
<ng-container *ngIf="block.name === 'switch'">
    <div class="flex" [ngStyle]="{'justify-content' : block.data.alignment}">
        <vezo-switch [label]="block.data?.label" [labelInfo]="{ size: block.data?.labelFont+'px', weight: block.data?.labelWeight, color: block.data?.labelColor,
            mt: block.data?.mt+'px',mb: block.data?.mb+'px',ml: block.data?.ml+'px',mr: block.data?.mr+'px' ,
    pt: block.data?.pt+'px',pb: block.data?.pb+'px',pl: block.data?.pl+'px',pr: block.data?.pr+'px'
         }"></vezo-switch>
    </div>
</ng-container>
<ng-container *ngIf="block.name === 'chart'">
    <vezo-chart></vezo-chart>
</ng-container>
<ng-container *ngIf="block.name === 'table'">
    <vezo-table [data]="[1,2,3,4,5,6,7,8,9,10]">
        <ng-template vTemplate="caption">
            {{ block.data?.caption}}
        </ng-template>
        <ng-template vTemplate="header">
            <tr>
                <th class="w-4"><input type="checkbox" class="w-4 h-4" /></th>
                <th *ngFor="let col of block.data.cols">{{ col.heading }}</th>
                <!-- <th>Name</th> -->
                <th [width]="100">Actions</th>
            </tr>
        </ng-template>
        <ng-template vTemplate="body">
            <tr *ngFor="let row of block.data.rows">
                <td><input type="checkbox" class="w-4 h-4" /></td>
                <td *ngFor="let col of block.data.cols">
                    {{ row[col.field] }}
                </td>
                <td>
                    <vezo-icon icon="pencil" className="mr-5 w-4 h-4 text-blue-400"></vezo-icon>
                    <vezo-icon icon="trash" className="w-4 h-4 text-red-400"></vezo-icon>
                </td>
            </tr>
        </ng-template>
    </vezo-table>
</ng-container>
<ng-container *ngIf="block.name === 'image'">
    <div class="flex" [ngStyle]="{ 'justify-content':block.data?.alignment }">
        <img src="{{block.data?.url}}" [ngStyle]="{ 'justify-content':block.data?.alignment ,'margin-top':  block.data?.mt+'px', 'margin-bottom':  block.data?.mb+'px',  'margin-left':  block.data?.ml+'px',  'margin-right':  block.data?.mr+'px','padding-top':  block.data?.pt+'px',  'padding-bottom':  block.data?.pb+'px',  'padding-left':  block.data?.pl+'px',  'padding-right':  block.data?.pr+'px' ,
                'width':block.data?.width ? block.data?.width+'px' : 'auto' ,  'height':block.data?.height ? block.data?.height+'px' : 'auto' 
            }">
    </div>
</ng-container>
<ng-container *ngIf="block.name === 'divider'" class="w-auto">
    <div class="flex w-auto" [ngStyle]="{ 'justify-content':block.data?.alignment ,'width':'auto' }">
        <div
            [ngStyle]="{ 'justify-content':block.data?.alignment ,'margin-top':  block.data?.mt+'px', 'margin-bottom':  block.data?.mb+'px',  'margin-left':  block.data?.ml+'px',  'margin-right':  block.data?.mr+'px','padding-top':  block.data?.pt+'px',  'padding-bottom':  block.data?.pb+'px',  'padding-left':  block.data?.pl+'px',  'padding-right':  block.data?.pr+'px' ,
              'width':block.data?.width ? block.data?.width+'px':'-webkit-fill-available' ,  'height':block.data?.height+'px', 'background-color':block.data?.dividerColor }">
        </div>
    </div>
</ng-container>
<ng-container *ngIf="block.name === 'card'">
    <div class="shadow-md p-8 w-auto" style="border-radius: 8px;" [ngStyle]="{ 'justify-content':block.data?.alignment ,'margin-top':  block.data?.mt+'px', 'margin-bottom':  block.data?.mb+'px',  'margin-left':  block.data?.ml+'px',  'margin-right':  block.data?.mr+'px','padding-top':  block.data?.pt+'px',  'padding-bottom':  block.data?.pb+'px',  'padding-left':  block.data?.pl+'px',  'padding-right':  block.data?.pr+'px' ,
        'background-color':block.data?.fillColor , 'width': block.data?.width+'px'
    }">
        <!-- Image of the Card -->
        <div class="flex" [ngStyle]="{ 'justify-content':block.data?.imageAlignment}">
            <img src="{{block.data?.imageUrl}}" [ngStyle]="{ 'width':block.data?.imageWidth+'px' }">
        </div>
        <!-- Title Text of the Card -->
        <div class="pt-3 flex" style="font-size: 16px; font-weight: 600;"
            [ngStyle]="{ 'justify-content':block.data?.titleAlignment}">
            {{block.data?.title}}
        </div>
        <!-- Description Text of the card -->
        <div class="mt-3 flex" style="font-size: 14px; font-weight: 400;"
            [ngStyle]="{ 'justify-content':block.data?.descAlignment}">
            {{block.data?.desc}}
        </div>
    </div>
</ng-container>
<ng-container *ngIf="block.name === 'video'">
    <div class="flex" [ngStyle]="{ 'justify-content':block.data?.alignment }">
        <div [ngStyle]="{ 'justify-content':block.data?.alignment ,'margin-top':  block.data?.mt+'px', 'margin-bottom':  block.data?.mb+'px',  'margin-left':  block.data?.ml+'px',  'margin-right':  block.data?.mr+'px','padding-top':  block.data?.pt+'px',  'padding-bottom':  block.data?.pb+'px',  'padding-left':  block.data?.pl+'px',  'padding-right':  block.data?.pr+'px' ,
        'width':block.data?.width+'px' ,  'height':block.data?.height+'px' }">
            <video #videoPlayer controls>
                <source src="{{block.data?.url}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <!-- <div>
                <button (click)="playVideo()">Play</button>
                <button (click)="pauseVideo()">Pause</button>
                <button (click)="stopVideo()">Stop</button>
            </div> -->
        </div>
    </div>
</ng-container>
<!-- <ng-container *ngIf="block.name === 'container'">
    <div
        [ngStyle]="{ 'width':block.data?.width+'px' ,  'height':block.data?.height+'px' , 'background-color':block.data?.bgColor }">
    </div>
</ng-container> -->