<div class="{{ className }}">
    <div class="grid grid-flow-col auto-cols-max border-b">
        <div *ngFor="let tab of tabs" class="px-5 py-2 border border-b-0 cursor-pointer" (click)="setSelected(tab)"
            [ngClass]="tab.selected ? 'bg-gray-200 border-t-2 border-t-blue-600': 'bg-gray-50'">
            <vezo-icon [icon]="tab.leftIcon" className="mr-2 w-4 h-4" *ngIf="tab.leftIcon"></vezo-icon>
            <span class="leading-none">{{ tab.header}}</span>
            <vezo-icon [icon]="tab.rightIcon" className="ml-2 w-4 h-4" *ngIf="tab.rightIcon"></vezo-icon>
        </div>
    </div>
    <ng-content></ng-content>
</div>