:host::ng-deep{
.sqd-designer-angular {
	width: 100%;
	height: 80vh;
}
.sqd-toolbox {
	width: 160px !important;
}

.sqd-toolbox-filter,
.sqd-toolbox-item {
	width: 140px !important;
}
.combo-options {
	z-index: 9999999;
}
/* 200px - 20px */
}