<div class="bg-white px-4 flex place-items-center">
  <div class="mr-6">
    <vezo-icon
      icon="arrowLeft"
      [routerLink]="['/builder/microservices/edit/' + microService.id]"
      className="cursor-pointer"
    ></vezo-icon>
  </div>
  <div>
    <h1 class="title">Microservice - {{ microService.microServiceName }}</h1>
  </div>
</div>
<div class="px-4">
  <vezo-table
    [data]="data"
    [pageData]="pageData"
    (pageDataChange)="getAllData()"
  >
    <ng-template vTemplate="caption">
      <div class="flex place-items-center">
        <div class="title">SERVICE DEFINITIONS</div>
        <div class="flex-grow"></div>
        <div class="w-72 pr-4">
          <vezo-input
            label=""
            placeholder="Filter"
            className="bg-white"
          ></vezo-input>
        </div>
        <div class="text-right">
          <vezo-button
            label="Add New Service"
            icon="plus"
            (click)="addData()"
          ></vezo-button>
          <!-- <vezo-button label="Filter" icon="funnel" className="bg-green-100"></vezo-button> -->
        </div>
      </div>
    </ng-template>
    <ng-template vTemplate="header">
      <tr>
        <!-- <th class="w-4"><input type="checkbox" class="w-4 h-4" /></th> -->
        <th>Service Code</th>
        <th>Service Name</th>
        <th>Micro Service</th>
        <th [width]="250">Actions</th>
      </tr>
    </ng-template>
    <ng-template vTemplate="body">
      <tr *ngFor="let ms of data">
        <!-- <td><input type="checkbox" class="w-4 h-4" /></td> -->
        <td>{{ ms.workflowCode }}</td>
        <td>{{ ms.workflowName }}</td>
        <td>{{ ms.microService?.microServiceName }}</td>
        <td>
          <vezo-icon
            icon="sparkles"
            (click)="showAiGen(ms)"
            className="mr-5 w-4 h-4 text-indigo-400 cursor-pointer"
          ></vezo-icon>
          <vezo-icon
            icon="queueList"
            (click)="showDesigner(ms)"
            className="mr-5 w-4 h-4 text-indigo-400 cursor-pointer"
          ></vezo-icon>
          <vezo-icon
            icon="pencil"
            (click)="editData(ms)"
            className="mr-5 w-4 h-4 text-indigo-400 cursor-pointer"
          ></vezo-icon>
          <vezo-icon
            icon="trash"
            (click)="deleteData(ms)"
            className="w-4 h-4 text-red-400 cursor-pointer"
          ></vezo-icon>
        </td>
      </tr>
    </ng-template>
  </vezo-table>
</div>
<vezo-modal [(visible)]="visible">
  <ng-template vTemplate="header">Service</ng-template>
  <ng-template vTemplate="content">
    <form [formGroup]="form">
      <vezo-select
        *ngIf="!this.microserviceId"
        label="Micro Service"
        formControlName="microService"
        [items]="microServices"
        optionLabel="microServiceName"
      ></vezo-select>
      <vezo-input
        label="Service Code"
        formControlName="workflowCode"
      ></vezo-input>
      <error-message
        [controlName]="form.controls['workflowCode']"
      ></error-message>
      <vezo-input
        label="Service Name"
        formControlName="workflowName"
      ></vezo-input>
      <error-message
        [controlName]="form.controls['workflowName']"
      ></error-message>
    </form>
  </ng-template>
  <ng-template vTemplate="footer">
    <div class="text-right">
      <vezo-button
        label="Save"
        [disabled]="!form.valid"
        (click)="saveData()"
      ></vezo-button>
    </div>
  </ng-template>
</vezo-modal>

<vezo-toast></vezo-toast>

<app-modal
  *ngIf="isModalOpen"
  [title]="modalTitle"
  [buttonText]="modalButtonText"
  [type]="modalType"
  (close)="closeModal()"
>
</app-modal>
