<div class="bg-white p-4 my-4 flex place-items-center">
  <div class="mr-6">
    <vezo-icon
      icon="arrowLeft"
      [routerLink]="['/builder/microservices/' + dataSingle?.project?.id]"
      className="cursor-pointer"
    ></vezo-icon>
  </div>
  <div>
    <h1 class="title">Microservice</h1>
  </div>
</div>

<div class="bg-white px-16">
  <form [formGroup]="form">
    <vezo-select
      [items]="projects"
      optionLabel="projectName"
      label="Project"
      formControlName="project"
    ></vezo-select>
    <vezo-input
      label="Service Code"
      formControlName="microServiceCode"
    ></vezo-input>
    <error-message
      [controlName]="form.controls['microServiceCode']"
    ></error-message>
    <div class="mt-2">
      <vezo-input
        label="Package Name"
        formControlName="packageName"
        (input)="checkPackageName()"
      ></vezo-input>
      <error-message
        [controlName]="form.controls['packageName']"
      ></error-message>
      <div *ngIf="form.get('packageName')?.invalid">
        <small>Use format: text.text.text.</small>
      </div>
    </div>

    <div class="flex justify-between items-start gap-4">
      <div class="inline-block w-1/2 mt-2">
        <vezo-inputnumber
          label="Port Number"
          formControlName="portNumber"
        ></vezo-inputnumber>
        <error-message
          [controlName]="form.controls['portNumber']"
        ></error-message>
        <!-- <div *ngIf="form.get('portNumber')?.invalid && form.get('portNumber')?.touched">
          <small *ngIf="form.get('portNumber')?.errors?.['invalidPortNumber']">Invalid port number. Must be between 0 and 65535.</small>
        </div> -->
      </div>
      <div class="inline-block w-1/2 mt-2">
        <vezo-select
          [items]="packaging"
          label="Packaging"
          formControlName="packaging"
        ></vezo-select>
      </div>
    </div>
    <vezo-textarea
      label="Service Name"
      formControlName="microServiceName"
    ></vezo-textarea>
    <error-message
      [controlName]="form.controls['microServiceName']"
    ></error-message>

    <div class="flex justify-between items-center">
      <div class="pb-4 flex my-4 gap-4 w-3/4">
        <div>
          <vezo-button
            icon="chevronRight"
            [routerLink]="['/builder/collections/' + msId]"
            label="Model Definitions"
          ></vezo-button>
        </div>
        <div>
          <vezo-button
            icon="chevronRight"
            [routerLink]="['/builder/datasources/' + msId]"
            label="Link Datasources"
          ></vezo-button>
        </div>
        <div>
          <vezo-button
            icon="chevronRight"
            [routerLink]="['/builder/services/' + msId]"
            label="Service Definitions"
          ></vezo-button>
        </div>
        <div>
          <vezo-button
            icon="chevronRight"
            (click)="commitCode()"
            label="Commit Code"
          ></vezo-button>
        </div>
      </div>
      <div class="flex text-right gap-2 justify-end items-center w-1/4">
        <div class="w-6/12">
          <vezo-button
            label="Save"
            [disabled]="!form.valid"
            (click)="saveData()"
          ></vezo-button>
        </div>
        <div class="w-6/12">
          <vezo-button
            label="Generate DTO"
            [disabled]="!form.valid"
            (click)="generateDTO()"
          ></vezo-button>
        </div>
      </div>
    </div>
  </form>
  <vezo-toast></vezo-toast>

  <!-- Web Terminal Code -->
  <div class="mt-16">
    <div class="flex my-4 space-x-4 place-items-center">
      <h2 class="title mb-2 grow">Service Control</h2>
      <vezo-button label="Disconnect" (click)="stopMessages()"></vezo-button>
      <vezo-button label="Stop Server" (click)="stopServer()"></vezo-button>
      <vezo-button label="Start Server" (click)="startServer()"></vezo-button>
    </div>
    <ng-terminal #term [minHeight]="200"></ng-terminal>
  </div>
</div>
