<div class="grid grid-cols-12">
    <div class="col-span-2 relative">
        <div class="p-5 grid grid-cols-12 border-b cursor-pointer" routerLink="/">
            <div class="col-span-3">
                <!-- <img src="/assets/v.png" class="w-8" /> -->
                <div class="border border-indigo-500 rounded-full w-8 h-8 flex justify-center items-center">
                    <p class="text-indigo-500">M</p>
                </div>
            </div>
            <div class="col-span-9">
                <div class="font-semibold">MACHARC</div>
                <div class="text-gray-400 text-xs font-light uppercase">Workspace</div>
            </div>
        </div>
        <div class="">
            <vezo-menu [items]="menuItems"></vezo-menu>
        </div>
        <div class="p-5 grid grid-cols-12 absolute w-full bg-white border-t bottom-0">
            <div class="col-span-3">
                <div class="w-8 h-8 bg-indigo-700 rounded-full text-white flex items-center justify-center">PY</div>
            </div>
            <div class="col-span-9">
                <div class="">PARTHASARATHY</div>
                <div class="text-gray-400 text-xs font-light uppercase">SUPER ADMIN</div>
            </div>
        </div>
    </div>
    <div class="col-span-10 p-10 bg-gray-50 h-screen overflow-x-scroll">
        <router-outlet></router-outlet>
    </div>
</div>