<ng-container *ngIf="block.name === 'heading'">
    <div class="text-lg" contenteditable [(ngModel)]="block.data.text">{{ block.data?.text }}</div>
</ng-container>
<ng-container *ngIf="block.name === 'button'">
    <div class="text-{{ block.data?.align ? block.data.align : 'right' }}">
        <vezo-button [label]="block.data?.label"></vezo-button>
    </div>
</ng-container>
<ng-container *ngIf="block.name === 'input'">
    <vezo-input [label]="block.data?.label"></vezo-input>
</ng-container>
<ng-container *ngIf="block.name === 'textarea'">
    <vezo-textarea [label]="block.data?.label"></vezo-textarea>
</ng-container>
<ng-container *ngIf="block.name === 'dropdown'">
    <vezo-select [label]="block.data?.label"></vezo-select>
</ng-container>
<ng-container *ngIf="block.name === 'checkbox'">
    <vezo-checkbox [label]="block.data?.label"></vezo-checkbox>
</ng-container>
<ng-container *ngIf="block.name === 'radio'">
    <vezo-radiobutton [label]="block.data?.label"></vezo-radiobutton>
</ng-container>
<ng-container *ngIf="block.name === 'switch'">
    <vezo-switch [label]="block.data?.label"></vezo-switch>
</ng-container>
<ng-container *ngIf="block.name === 'table'">
    <vezo-table [data]="[1,2,3,4,5,6,7,8,9,10]">
        <ng-template vTemplate="caption">
            {{ block.data?.caption}}
        </ng-template>
        <ng-template vTemplate="header">
            <tr>
                <th class="w-4"><input type="checkbox" class="w-4 h-4" /></th>
                <th *ngFor="let col of block.data.columns">{{ col.heading }}</th>
                <!-- <th>Name</th> -->
                <th [width]="100">Actions</th>
            </tr>
        </ng-template>
        <ng-template vTemplate="body">
            <tr *ngFor="let row of block.data.rows">
                <td><input type="checkbox" class="w-4 h-4" /></td>
                <td *ngFor="let col of block.data.columns">
                    {{ row[col.field] }}
                </td>
                <td>
                    <vezo-icon icon="pencil" className="mr-5 w-4 h-4 text-blue-400"></vezo-icon>
                    <vezo-icon icon="trash" className="w-4 h-4 text-red-400"></vezo-icon>
                </td>
            </tr>
        </ng-template>
    </vezo-table>
</ng-container>