<h2 class="text-lg mb-4">Settings</h2>
<div class="bg-white py-16">
    <table class="w-2/3">
        <tr>
            <td class="p-4 pt-0 text-right">
                Gitserver URL:
            </td>
            <td class="p-4 pt-0">
                <vezo-input label="" placeholder="Enter URL"></vezo-input>
            </td>
        </tr>
        <tr>
            <td class="p-4 pt-0 text-right">
                Gitserver Username:
            </td>
            <td class="p-4 pt-0">
                <vezo-input label="" placeholder="Enter Username"></vezo-input>
            </td>
        </tr>
        <tr>
            <td class="p-4 pt-0 text-right">
                Gitserver Password:
            </td>
            <td class="p-4 pt-0">
                <vezo-input type="password" label="" placeholder="Enter Password"></vezo-input>
            </td>
        </tr>
        <tr>
            <td class="p-4 pt-0 text-right">
                Gitserver Access Token:
            </td>
            <td class="p-4 pt-0">
                <vezo-input label="" placeholder="Enter Token"></vezo-input>
            </td>
        </tr>

        <tr>
            <td class="p-4 pt-0 text-right">
                Gitserver Group:
            </td>
            <td class="p-4 pt-0">
                <vezo-input label="" placeholder="Enter Group Name"></vezo-input>
            </td>
        </tr>
        <tr>
            <td class="p-4 pt-0 text-right">
                Microservice Backend Output Directory:
            </td>
            <td class="p-4 pt-0">
                <vezo-input label="" placeholder="Enter Absolute Path"></vezo-input>
            </td>
        </tr>
        <tr>
            <td class="p-4 pt-0 text-right">
                Microservice Backend Output Directory:
            </td>
            <td class="p-4 pt-0">
                <vezo-input label="" placeholder="Enter Absolute Path"></vezo-input>
            </td>
        </tr>
        <tr>
            <td class="p-4 pt-0 text-right">

            </td>
            <td class="p-4 pt-0 w-2/3 text-right">
                <vezo-button label="Save" (click)="saveData()"></vezo-button>
            </td>
        </tr>
    </table>
</div>

<vezo-toast></vezo-toast>