<div class="h-[100vh] overflow-auto" style="background-color: #EEF2FF;">
    <!-- Header bar Code -->
    <div class="flex items-center"
        style="width:auto; height: 55px; background-color: #FFFFFF; border-width: 0.5px; border-color: #4038CA;">

        <div class="w-5/12 bg-red-300 flex justify-center items-center gap-4">
            <div style="font-size: 24px; font-weight: 600; line-height: 29.05px ; color: #000000">
                Media Assets
            </div>
            <div style="font-size: 11px; font-weight: 300; line-height: 13.31px; color: #888888">
                (Upload and manage image to use in Application)
            </div>
        </div>

        <div class="w-4/12 bg-green-200">sadas</div>
        <div class="w-3/12 bg-blue-200">asdas</div>
    </div>

    <!-- Uploaded Images Showen here -->
    <div class="">
        <div style="margin: 40px;">
            <div class="grid grid-cols-4 gap-4">
              
                    <div
                        style="background-color: #FFFFFF; width: 230px; height:272px ; border-radius: 8px; border-width: 3px; border-color:#ffffff; padding: 12px;">
                        <div class="flex justify-center items-center p-4"
                            style="width: auto; height:188px ; border-radius: 8px; border-width: 1px; border-color:#000000;">
                            <img src="assets/people.png" />
                        </div>
                        <div class="flex justify-between items-center mt-4">
                            <div style="display: flex; flex-direction: column;" class="gap-1">
                                <div style="font-size: 12px; font-weight: 500; color: #4F46E5;">Img123456.jpg</div>
                                <div style="font-size: 12px; font-weight: 500; color: #B0B0B0;">Uploaded June 25, 2024
                                </div>
                            </div>

                            <div class="flex justify-center items-center mr-2 pl-1  pb-1"
                                style="width: 24px; height: 24px; background-color: #4F46E5; border-radius: 4px;">
                                <img style="width: 16px; height: 16px;" src="assets/Group 1171276934.svg" />
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>