<div class="overflow-hidden" style="background-color: #EEF2FF; height: 100%;">
    <!-- Header bar Code -->
    <div class="flex items-center"
        style="width:auto; height: 55px; background-color: #FFFFFF; border-width: 0.5px; border-color: #4038CA;">

        <div class="w-5/12 flex justify-center items-center gap-4">
            <div style="font-size: 24px; font-weight: 600; line-height: 29.05px ; color: #000000">
                Media Assets
            </div>
            <div style="font-size: 11px; font-weight: 300; line-height: 13.31px; color: #888888">
                (Upload and manage image to use in Application)
            </div>
        </div>

        <div class="w-4/12">
            <div class="flex justify-center items-center">
                <div class="w-7/12">
                    <div class="flex justify-start items-center gap-2"
                        style="background-color: #F5F6F9; border-width: 1px; border-color: #E9E9FB; height: 32px; width: auto; border-radius: 4px;">
                        <img src="assets/image_search.png" class="ml-1" style="width: 24px; height: 24px;" />
                        <input type="text" placeholder="Search" class="mr-2"
                            style="border: none !important; height: 25px !important; width: auto;" />
                    </div>
                </div>

                <div class="w-3/12">
                    <div class="flex justify-center gap-2">
                        <div class="flex items-center justify-center cursor-pointer"
                            style="background-color: #F5F6F9; border-width: 1px; border-color: #E9E9FB; border-radius: 4px; height: 32px; width: 32px;">
                            <img src="assets/filter_list_new.svg" style="width: 24px; height: 24px;" />
                        </div>
                        <div class="flex items-center justify-center cursor-pointer "
                            style="background-color: #F5F6F9; border-width: 1px; border-color: #E9E9FB;  border-radius: 4px; height: 32px; width: 32px;">
                            <img src="assets/delete_outline_new.svg" style="width: 24px; height: 24px;" />
                        </div>
                    </div>
                </div>
                <div class="w-2/12">
                    <div class="flex justify-center">
                        <div class="flex items-center justify-center cursor-pointer"
                            style="background-color: #F5F6F9; border-width: 1px; border-color: #E9E9FB; height: 32px; width: 32px; border-top-left-radius: 4px; border-bottom-left-radius: 4px;">
                            <img src="assets/list_new.svg" style="width: 24px; height: 24px;" />
                        </div>
                        <div class="flex items-center justify-center cursor-pointer"
                            style="background-color: #F5F6F9; border-width: 1px; border-color: #E9E9FB; height: 32px; width: 32px; border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                            <img src="assets/grid_new1.svg" style="width: 16px; height: 16px;" />
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="w-3/12 flex justify-center items-center">
            <div class="flex justify-center items-center gap-2 cursor-pointer" (click)="triggerFileInput()"
                style="width: 102px; height: 32px; background-color: #6366F1; border-radius: 4px; border-width: 1px;">
                <img src="assets/upload_vector.svg" style="height: 16px; width: 16px;" />
                <div style="font-size: 14px; font-weight: 500; color: #FFFFFF;">Upload</div>
            </div>
            <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)" />
        </div>
    </div>

    <!-- Uploaded Images Showen here -->
    <div class="overflow-y-auto" style="height: calc(100% - 55px);">
        <div [ngClass]="{'drop-zone backdrop-blur-sm bg-white/30':isDragging}" (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
            <input type="file" #fileInput (change)="onFileSelected($event)" hidden
                accept="image/png, image/jpeg, image/svg+xml">
            <button (click)="fileInput.click()"></button>
            <div style="margin: 40px;">
                <div class="flex flex-wrap gap-6 justify-start" style="justify-items: center;">
                    <div *ngFor="let time of times; let i = index">
                        <div (mouseenter)="onHoverStart(time)" (mouseleave)="onHoverEnd()"
                            style="background-color: #FFFFFF; width: 232px; height:272px ; border-radius: 8px; border-width: 3px; border-color:#ffffff; padding: 12px;">
                            <div class="flex justify-center items-center p-4"
                                style="width: auto; height:188px ; border-radius: 8px; border-width: 1px; border-color:#000000;">
                                <img *ngIf="i%2==0" src="https://storage.googleapis.com/flutterflow-enterprise-india.appspot.com/projects/h-i-and-l-i-w33dc0/assets/8nbuda5ca8cl/Rectangle_26479_(1).png" />
                                <img *ngIf="i%2!=0" src="https://storage.googleapis.com/flutterflow-enterprise-india.appspot.com/projects/h-i-and-l-i-w33dc0/assets/l280cbr2nimh/Rectangle_26480_(2).png" />
                            </div>
                            <div class="flex justify-between items-center mt-4">
                                <div style="display: flex; flex-direction: column;" class="gap-1">
                                    <div style="font-size: 12px; font-weight: 500; color: #4F46E5;">Img123456.jpg
                                    </div>
                                    <div style="font-size: 12px; font-weight: 500; color: #B0B0B0;">Uploaded June
                                        25, 2024
                                    </div>
                                </div>

                                <div class="flex justify-center items-center mr-2 pl-1  pb-1 cursor-pointer"
                                    *ngIf="this.hoveredIndex == i"
                                    (click)="openImageInNewTab( i%2==0?'https://storage.googleapis.com/flutterflow-enterprise-india.appspot.com/projects/h-i-and-l-i-w33dc0/assets/8nbuda5ca8cl/Rectangle_26479_(1).png' : 'https://storage.googleapis.com/flutterflow-enterprise-india.appspot.com/projects/h-i-and-l-i-w33dc0/assets/l280cbr2nimh/Rectangle_26480_(2).png')"
                                    style="width: 24px; height: 24px; background-color: #4F46E5; border-radius: 4px;">
                                    <img style="width: 18px; height: 18px;" src="assets/Group 1171276934.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <img *ngIf="imageSrc" [src]="imageSrc" alt="Uploaded Image" class="preview"> -->
        </div>

    </div>