<div class="grid grid-cols-12 border min-h-full bg-white">
    <div class="col-span-3 border-r">

        <div class="p-4 border-b">
            <h2 class="heading">Collection
            </h2>
        </div>

        <div class="p-4">
            <div><label>Collection Name</label></div>
            <div>
                <span class="text-indigo-400 text-lg"> {{ collection.collectionName }}</span>
            </div>
        </div>
        <div class="p-4">
            <div class="mb-2">Endpoints</div>
            <vezo-accordion>
                <vezo-accordion-section header="CUSTOM" [showSection]="true">
                    <div class="my-2 subheading" *ngIf="!data.length">NONE</div>
                    <div class="divide-y" *ngIf="data.length">
                        <div class="py-4 grid grid-cols-12" *ngFor="let ep of data">
                            <div class="col-span-9 w-full space-y-2">
                                <p class="subheading">{{ ep.endpointName }}</p>
                                <p><span
                                        class="bg-{{getEpColor(ep.endpointType)}}-200 px-3 py-1 text-xs rounded-lg mr-2">{{
                                        ep.endpointType
                                        }}</span>
                                </p>
                                <p class="break-all"> {{ ep.endpointPath }}
                                </p>
                            </div>
                            <div class="col-span-3 w-full text-right cursor-pointer">
                                <vezo-icon icon="chevronRight" className="w-12 h-12 text-indigo-400" strokeWidth="0.5"
                                    (click)="editData(ep)"></vezo-icon>
                            </div>
                        </div>
                    </div>
                </vezo-accordion-section>
                <vezo-accordion-section header="PROCESSES">
                    <div class="my-2 subheading">NONE</div>
                </vezo-accordion-section>
                <vezo-accordion-section header="CRUD">
                    <div class="divide-y">
                        <div class="py-4 grid grid-cols-12">
                            <div class="col-span-9 w-full space-y-2">
                                <p class="subheading">Get All</p>
                                <p><span class="bg-gray-200 px-3 py-1 text-xs rounded-lg mr-2">GET</span>
                                </p>
                                <p class="break-all"> /beneficiaries
                                </p>
                            </div>
                            <div class="col-span-3 w-full text-right">
                                <vezo-icon icon="chevronRight" className="w-12 h-12 text-indigo-400"
                                    strokeWidth="0.5"></vezo-icon>
                            </div>
                        </div>
                        <div class="py-4 grid grid-cols-12">
                            <div class="col-span-9 w-full space-y-2">
                                <p class="subheading">Get One</p>
                                <p><span class="bg-gray-200 px-3 py-1 text-xs rounded-lg mr-2">GET</span>
                                </p>
                                <p class="break-all">
                                    /beneficiaries/{{ '{id}' }}</p>
                            </div>
                            <div class="col-span-3 w-full text-right">
                                <vezo-icon icon="chevronRight" className="w-12 h-12 text-indigo-400"
                                    strokeWidth="0.5"></vezo-icon>
                            </div>
                        </div>
                        <div class="py-4 grid grid-cols-12">
                            <div class="col-span-9 w-full space-y-2">
                                <p class="subheading">Create</p>
                                <p><span class="bg-green-200 px-3 py-1 text-xs rounded-lg mr-2">POST</span></p>
                                <p class="break-all">
                                    /beneficiaries
                                </p>
                            </div>
                            <div class="col-span-3 w-full text-right">
                                <vezo-icon icon="chevronRight" className="w-12 h-12 text-indigo-400"
                                    strokeWidth="0.5"></vezo-icon>
                            </div>
                        </div>
                        <div class="py-4 grid grid-cols-12">
                            <div class="col-span-9 w-full space-y-2">
                                <p class="subheading">Update</p>
                                <p><span class="bg-orange-200 px-3 py-1 text-xs rounded-lg mr-2">PUT</span></p>
                                <p class="break-all">
                                    /beneficiaries/{{ '{id}' }}
                                </p>
                            </div>
                            <div class="col-span-3 w-full text-right">
                                <vezo-icon icon="chevronRight" className="w-12 h-12 text-indigo-400"
                                    strokeWidth="0.5"></vezo-icon>
                            </div>
                        </div>
                        <div class="py-4 grid grid-cols-12">
                            <div class="col-span-9 w-full space-y-2">
                                <p class="subheading">Delete</p>
                                <p><span class="bg-red-200 px-3 py-1 text-xs rounded-lg mr-2">GET</span></p>
                                <p class="break-all">
                                    /beneficiaries/{{ '{id}' }}</p>
                            </div>
                            <div class="col-span-3 w-full text-right cursor-pointer">
                                <vezo-icon icon="chevronRight" className="w-12 h-12 text-indigo-400"
                                    strokeWidth="0.5"></vezo-icon>
                            </div>
                        </div>
                    </div>

                </vezo-accordion-section>


            </vezo-accordion>

        </div>
    </div>
    <div class="col-span-9">
        <div class="grid grid-cols-3 border-b justify-center items-center">
            <div class="p-4 col-span-1">
                <h2 class="heading">Custom Endpoint</h2>
            </div>

            <div class="text-right p-2 col-span-2">
                <vezo-button icon="plus" label="Add Endpoint" (click)="addData()"></vezo-button>
            </div>
        </div>
        <form [formGroup]="form">
            <div class="grid grid-cols-2 p-4 gap-6">
                <vezo-input label="Endpoint Name" formControlName="endpointName"></vezo-input>
                <vezo-select label="Endpoint Type" formControlName="endpointType" [items]="httpMethods"></vezo-select>
                <vezo-input label="Endpoint Details" formControlName="description"></vezo-input>
                <vezo-input label="Endpoint Path" formControlName="endpointPath"></vezo-input>
                <vezo-select label="Return Type" formControlName="returnType" [items]="returnTypes" optionLabel="label"
                    optionValue="value"></vezo-select>
                <vezo-select label="Service" formControlName="service" [items]="services"
                    optionLabel="workflowName"></vezo-select>
            </div>
        </form>
        <div class="grid grid-cols-2 p-4 gap-6">
            <h2 class="font-semibold">Path Variables</h2>
            <div class="text-right">
                <vezo-button label="" icon="plus" className="bg-white" (click)="addPathVariable()"></vezo-button>
            </div>
            <ng-container *ngFor="let pathVariable of pathVariables">
                <vezo-input label="Variable" [(ngModel)]="pathVariable.variableName"></vezo-input>
                <vezo-select label="Variable Type" [(ngModel)]="pathVariable.variableType" [items]="variableTypes"
                    optionLabel="label" optionValue="value"></vezo-select>
            </ng-container>
            <div></div>
            <div class="text-right">
                <vezo-button label="Save" (click)="saveData()"></vezo-button>
            </div>
        </div>
    </div>
</div>