/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../splenta/vezo/src/styles/vezo-theme.css";

body {
    font-size: 14px;
}


.title {
	@apply font-light tracking-wide text-slate-600 text-xl uppercase;
}
.heading {
	@apply font-semibold text-slate-600 uppercase;
}
.subheading {
	@apply text-gray-400 text-xs font-light;
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

