<div class="grid grid-cols-12">
    <div class="col-span-9">
        <div #graphContainer id="graphContainer" class="h-full border"></div>
    </div>
    <div class="col-span-3">
        <aside id="props-panel">
            <div class="tabs">
                <div class="tab-heading" [ngClass]="{'tab-active': tabactive === 1}" (click)="setTabActive(1)">
                    Properties</div>
                <div class="tab-heading" [ngClass]="{'tab-active': tabactive === 2}" (click)="setTabActive(2)">Style
                </div>
            </div>
            <div class="props-block">
                <h2 class="font-semibold text-indigo-400 mb-4">{{process.processName}}</h2>
                <div><b>Element Name: {{ activeElement.mxObjectId }}</b></div>
            </div>
            <div class="p-2" *ngIf="activeElement.mxObjectId && tabactive === 1">
                <vezo-input label="Text" [(ngModel)]="activeElement.value" (ngModelChange)="setText()"></vezo-input>
                <vezo-input label="Process Code" [(ngModel)]="activeElement.style.process"
                    (ngModelChange)="setStyle()"></vezo-input>
                <vezo-input label="Endpoint" [(ngModel)]="activeElement.style.endpoint"
                    (ngModelChange)="setStyle()"></vezo-input>
            </div>
            <div class="p-2" *ngIf="activeElement.mxObjectId && tabactive === 2">
                <vezo-input label="Fill Color" [(ngModel)]="activeElement.style.fillColor"
                    (ngModelChange)="setStyle()"></vezo-input>
                <vezo-input label="Font Color" [(ngModel)]="activeElement.style.fontColor"
                    (ngModelChange)="setStyle()"></vezo-input>

                <table class="props-table p-2" *ngIf="tabactive === 2">
                    <thead>
                        <th>Property</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of activeElement.style | keyvalue">
                            <td *ngIf="item.key!=='name'" class="prop-key">{{item.key}}</td>
                            <td *ngIf="item.key!=='name'">{{item.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="props-block">
                <div><b>Actions</b></div>
                <div>
                    <button (click)="undo()" class="action-btn">Undo</button>
                    <button (click)="sendBack()" class="action-btn">To Back</button>
                    <!-- <button (click)="sendBack()" class="action-btn">Send Backward</button> -->
                    <button (click)="bringFront()" class="action-btn">To Front</button>
                    <!-- <button (click)="bringFront()" class="action-btn">Bring Forward</button> -->
                    <button (click)="getXmlModel()" class="action-btn">Get XML</button>
                </div>
            </div>
        </aside>
    </div>
</div>
<vezo-modal [(visible)]="showXml">
    <ng-template vTemplate="header"> XML </ng-template>
    <ng-template vTemplate="content">
        {{ xmlData }}
    </ng-template>
    <ng-template vTemplate="footer">
        <div class="text-right">
            <vezo-button label="Save" (click)="saveDefinition()"></vezo-button>
        </div>
    </ng-template>
</vezo-modal>

<vezo-toast></vezo-toast>