<div id="canvas"></div>
<aside id="props-panel">
    <div class="tabs">
        <div class="tab-heading" [ngClass]="{'tab-active': tabactive === 1}" (click)="setTabActive(1)">Properties</div>
        <div class="tab-heading" [ngClass]="{'tab-active': tabactive === 2}" (click)="setTabActive(2)">Style</div>
    </div>
    <div class="props-block">
        <div><b>Element Name: {{ activeElement?.name }}</b></div>
    </div>

    <table class="props-table">
        <thead>
            <th>Property</th>
            <th>Value</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of activeElement | keyvalue">
                <td *ngIf="item.key!=='name'" class="prop-key">{{item.key}}</td>
                <td *ngIf="item.key!=='name'">{{item.value}}</td>
            </tr>
        </tbody>
    </table>
    <div class="props-block">
        <div><b>Actions</b></div>
        <div>
            <button (click)="SendBack()" class="action-btn">To Back</button>
            <button (click)="SendBackward()" class="action-btn">Send Backward</button>
            <button (click)="BringFront()" class="action-btn">To Front</button>
            <button (click)="BringForward()" class="action-btn">Bring Forward</button>

        </div>
    </div>
</aside>