<!-- Old Action Code Starts -------------------------------------------------------------

 <div id="wrapper" class="relative">
    <div id="leftcard">
        <div class="mx-auto py-4 border-b flex z-index[99] noselect place-items-center">
            <div class="text-indigo-500 mr-6 w-8 h-8 rounded-full cursor-pointer bg-neutral-200 flex items-center justify-center"
                routerLink="../">
                <vezo-icon icon="arrowLeft" className="w-4 h-4"></vezo-icon>
            </div>
            <div class="heading">ACTIONS</div>
            <div class="flex-grow"></div>
            <div class="mr-4"><img src="assets/macharc_icon.svg" class="w-6" /></div>
        </div>
        <div id="blocklist">
            <div *ngFor="let action of actions" class="blockelem create-flowy noselect">
                <input type="hidden" name='blockelemtype' class="blockelemtype" [value]="action.type">
                <div class="grabme">
                    <img src="assets/grabme.svg">
                </div>
                <div class="blockin">
                    <div class="blockico">
                        <span></span>
                        <img [src]="action.icon">
                    </div>
                    <div class="blocktext">
                        <p class="blocktitle">{{ action.title }}</p>
                        <p class="blockdesc">{{ action.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="getOutPut()">Output</button>
    </div>
</div>
<div #canvas id="canvas" class="canvas"></div> 

Old Action Code ends here............................................................... -->

<!-- New code using sqd-designer -->
<div class="h-screen">
  <!-- <h2 class="text-lg mb-4">{{ wf.workflowName }}</h2> -->
  <sqd-designer
    theme="light"
    [undoStackSize]="10"
    [definition]="definition"
    [toolboxConfiguration]="toolboxConfiguration"
    [stepsConfiguration]="stepsConfiguration"
    [controlBar]="true"
    [areEditorsHidden]="false"
    [globalEditor]="globalEditor"
    [stepEditor]="stepEditor"
    (onReady)="onDesignerReady($event)"
    (onDefinitionChanged)="onDefinitionChanged($event)"
  >
  </sqd-designer>
</div>
<ng-template #globalEditor let-editor>
  <div class="p-4">
    <h2 class="heading inline-block my-3">Service Config</h2>
    <vezo-button
      (click)="generateServiceCode()"
      label="Generate Code"
      className="inline-block float-right"
    ></vezo-button>

    <h3 class="my-4 font-semibold">Collections</h3>
    <input
      [(ngModel)]="editor.definition.properties.collections"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      (input)="
        updateProperty(
          editor.definition.properties,
          'collections',
          $event,
          editor.context
        )
      "
    />
    <p class="my-2 text-slate-400">Enter comma separated collection names</p>

    <h3 class="my-4 font-semibold">Return Type</h3>
    <input
      [(ngModel)]="editor.definition.properties.returnType"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      (input)="
        updateProperty(
          editor.definition.properties,
          'returnType',
          $event,
          editor.context
        )
      "
    />

    <h3 class="my-4 font-semibold">Declarations</h3>
    <textarea
      [(ngModel)]="editor.definition.properties.declarations"
      rows="6"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      (input)="
        updateProperty(
          editor.definition.properties,
          'declarations',
          $event,
          editor.context
        )
      "
    ></textarea>

    <h3 class="my-4 font-semibold">Schedule</h3>
    <input
      type="number"
      [value]="editor.definition.properties.velocity"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      (input)="
        updateProperty(
          editor.definition.properties,
          'velocity',
          $event,
          editor.context
        )
      "
    />
    <p class="my-2 text-slate-400">Enter time delay to execute in seconds</p>
    <vezo-button
      (click)="saveDefinition()"
      label="Save"
      className="my-4 float-right"
    ></vezo-button>
    <vezo-button
      (click)="reloadDefinitionClicked()"
      label="Clear"
      className="m-4 bg-slate-50 float-right"
    ></vezo-button>
  </div>
</ng-template>

<ng-template #stepEditor let-editor>
  <div class="p-4">
    <h2 class="text-lg">Step Editor</h2>

    <h3 class="my-4 font-semibold">Name</h3>

    <input
      type="text"
      [value]="editor.step.name"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      (input)="updateName(editor.step, $event, editor.context)"
    />

    <h3 class="my-4 font-semibold">Expression</h3>
    <textarea
      [value]="editor.step.properties.expression"
      rows="6"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      (input)="
        updateProperty(
          editor.step.properties,
          'expression',
          $event,
          editor.context
        )
      "
    ></textarea>
    <p class="my-2 text-slate-400">
      Enter the expression to be evaluated to proceed to next step.
    </p>
    <a href="" target="_blank" class="text-blue-400"
      >Refer docs on how to write expressions</a
    >

    <h3 class="my-4 font-semibold">Schedule</h3>
    <input
      type="number"
      [value]="editor.step.properties.velocity"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      (input)="
        updateProperty(
          editor.step.properties,
          'velocity',
          $event,
          editor.context
        )
      "
    />
    <p class="my-2 text-slate-400">Enter time delay to execute in seconds</p>

    <vezo-button
      (click)="saveDefinition()"
      label="Save"
      className="my-4 float-right"
    ></vezo-button>
    <vezo-button
      (click)="reloadDefinitionClicked()"
      label="Reload"
      className="m-4 float-right"
    ></vezo-button>
  </div>
</ng-template>

<br />

<textarea cols="60" rows="18">{{ definitionJSON }}</textarea>
<br />
<vezo-button
  (click)="reloadDefinitionClicked()"
  label="Reload definition"
  className="my-4"
></vezo-button>
<br />
<vezo-toast></vezo-toast>
