:host::ng-deep{
    .sqd-designer-angular {
        width: 100%;
        height: 90vh;
    }
    .sqd-toolbox {
        width: 160px !important;
    }
    
    .sqd-toolbox-filter,
    .sqd-toolbox-item {
        width: 140px !important;
    }
    .combo-options {
        z-index: 9999999;
    }
    /* 200px - 20px */
}
    
    /* -------------------------------------------------------------*/
    
    .condition-builder {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      
      .condition-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: 1px solid #ccc;
        padding: 1rem;
        border-radius: 4px;
      }
      
      .condition {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
      }
      
      .add-options {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      
      button {
        margin-top: 0.5rem;
      }
      
      select {
        margin-left: 0.5rem;
      }
    
      :host::ng-deep {
        .p-button {
           padding: 0.1rem !important;
        }
        .p-togglebutton.p-button {
            border: none !important;
        }
        .p-togglebutton.p-button.p-highlight {
            background-color:#4f46e5 !important;
            border-color: none !important;
            color: white !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
        .p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover {
            background-color:#4f46e5 !important;
            border-color: none !important;
            color: white !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
        .p-togglebutton.p-button {
            background-color:#4f46e5 !important;
            border-color: none !important;
            color: white !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
        .ui-dropdown-label-container {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          
    }
    
    ::ng-deep {
        .custom-dropdown .p-dropdown-label {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      
        .custom-dropdown .p-dropdown {
          width: 100%;
        }
        
        .custom-dropdown .p-dropdown-label-container {
          width: 100%;
        }
      }
      
      