<div class="py-3" *ngIf="this.caption">
    <ng-container [ngTemplateOutlet]="caption"></ng-container>
</div>
<div *ngIf="data && data.length > 0">
    <div class="bg-gray-200 text-slate-500" *ngIf="toolBar">
        <div class="text-right">
            <button class="hover:bg-gray-300 p-3 pr-3">
                <vezo-icon icon="magnifying-glass" className="w-4 h-4">
                </vezo-icon>
            </button>
            <button class="hover:bg-gray-300 p-3 pr-3">
                <vezo-icon icon="cog-8-tooth" className="w-4 h-4">
                </vezo-icon>
            </button>
            <button class="hover:bg-primary-dark bg-primary text-white p-3 pl-5 pr-5"> Add new </button>
        </div>
    </div>
    <div class="bg-primary text-white" *ngIf="actionBar">
        <div class="grid grid-cols-12">
            <div class="col-span-6 p-3">
                <p>1 item selected</p>
            </div>

            <div class="col-span-6 text-right">
                <button class="hover:bg-primary-dark p-3 pr-3"> Delete <vezo-icon icon="trash" className="w-4 h-4">
                    </vezo-icon>
                </button>
                <button class="hover:bg-primary-dark p-3">Save <vezo-icon icon="bookmark-square" className="w-4 h-4">
                    </vezo-icon></button>
                <button class="hover:bg-primary-dark p-3">Download <vezo-icon icon="arrow-down-tray"
                        className="w-4 h-4 mb-1">
                    </vezo-icon></button>
                <vezo-icon icon="minus" className="rotate-90"></vezo-icon>
                <button class="hover:bg-primary-dark p-3">Cancel </button>
            </div>
        </div>
    </div>
    <div class="border min-h-[26rem] bg-white">
        <table class="border-collapse table-auto w-full text-sm bg-white">
            <thead class="border-b bg-gray-50">
                <ng-container [ngTemplateOutlet]="header"></ng-container>
            </thead>
            <tbody class="divide-y">
                <ng-container [ngTemplateOutlet]="body"></ng-container>
            </tbody>
            <tfoot *ngIf="this.caption">
                <ng-container [ngTemplateOutlet]="footer"></ng-container>
            </tfoot>
        </table>
    </div>
    <div class="pagination bg-indigo-50 text-indigo-500" *ngIf="pagination">
        <div class="grid grid-cols-12">
            <div class="col-span-4 p-3" (clickOutside)="closeOpts()">
                <div>
                    <div class="inline-block">Items per page :</div>
                    <div class="inline-block relative">
                        <div (click)="showPageOpts=!showPageOpts" class="cursor-pointer"> <span class="ml-2">
                                {{ pageData.pageSize }}
                                <vezo-icon icon="chevron-down" className="w-4 h-4"></vezo-icon>
                            </span></div>
                        <ul class="w-10 bg-white text-center divide-y absolute mt-1" *ngIf="showPageOpts">
                            <li *ngFor="let opt of [10,20,30,40,50]" (click)="selectOpts(opt)" class="cursor-pointer">
                                {{ opt }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class=" col-span-4 p-3">
                {{ getPageRange() }}
            </div>
            <div class="col-span-2 p-3 relative" (clickOutside)="showPageNos=false">
                <div (click)="showPageNos=!showPageNos" class="cursor-pointer">
                    <span class="">
                        {{ (pageData.pageNo !==undefined ) ? pageData.pageNo + 1 : 0}}
                    </span> of
                    <span class=" mr-2">{{
                        getTotalPages() }}
                        <vezo-icon icon="chevron-down" className="w-4 h-4">
                        </vezo-icon>
                    </span> pages
                </div>
                <ul class="w-10 bg-white text-center divide-y absolute ml-4 mt-1" *ngIf="showPageNos">
                    <li *ngFor="let n of [].constructor(getTotalPages()); let i = index" (click)="changePage(i)"
                        class="cursor-pointer">
                        {{ i + 1 }}
                    </li>
                </ul>
            </div>
            <div class="col-span-2 text-right">
                <button class="p-3 hover:bg-gray-200" (click)="pageDecrement()" *ngIf="pageData.pageNo! > 0">
                    <vezo-icon icon="chevron-left" className="w-4 h-4"></vezo-icon>
                </button>
                <button class="p-3 hover:bg-gray-200" (click)="pageIncrement()"
                    *ngIf="pageData.pageNo! +1 < getTotalPages()">
                    <vezo-icon icon="chevron-right" className="w-4 h-4"></vezo-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="grid place-items-center bg-white h-96 p-5" *ngIf="data && data.length === 0">
    <div class="text-center">
        <vezo-icon icon="inbox" strokeWidth="0.5" className="w-24 h-24 text-indigo-400"></vezo-icon>
        <div class="p-5"> No Records to display</div>
    </div>
</div>