<vezo-table [data]="data">
    <ng-template vTemplate="caption">
        <div class="grid grid-cols-2 justify-content items-center">
            <div class="title">SERVICE DEFINITIONS</div>
            <div class="text-right">
                <vezo-button label="Add New Workflow" icon="plus" className="mr-2" (click)="addData()"></vezo-button>
                <vezo-button label="Filter" icon="funnel" className="bg-green-100"></vezo-button>
            </div>
        </div>

    </ng-template>
    <ng-template vTemplate="header">
        <tr>
            <th class="w-4"><input type="checkbox" class="w-4 h-4" /></th>
            <th>Service Code</th>
            <th>Service Name</th>
            <th>Micro Service</th>
            <th [width]="150">Actions</th>
        </tr>
    </ng-template>
    <ng-template vTemplate="body">
        <tr *ngFor="let ms of data">
            <td><input type="checkbox" class="w-4 h-4" /></td>
            <td>{{ ms.workflowCode }}</td>
            <td>{{ ms.workflowName }}</td>
            <td>{{ ms.microService?.microServiceName }}</td>
            <td>
                <vezo-icon icon="queueList" (click)="showDesigner(ms)"
                    className="mr-5 w-4 h-4 text-indigo-400 cursor-pointer"></vezo-icon>
                <vezo-icon icon="pencil" (click)="editData(ms)"
                    className="mr-5 w-4 h-4 text-indigo-400 cursor-pointer"></vezo-icon>
                <vezo-icon icon="trash" (click)="deleteData(ms)"
                    className="w-4 h-4 text-red-400 cursor-pointer"></vezo-icon>
            </td>
        </tr>
    </ng-template>
</vezo-table>




<vezo-modal [(visible)]="visible">
    <ng-template vTemplate="header">Microservice</ng-template>
    <ng-template vTemplate="content">
        <form [formGroup]="form">
            <vezo-select label="Micro Service" formControlName="microService" [items]="microServices"
                optionLabel="microServiceName"></vezo-select>
            <vezo-input label="Service Code" formControlName="workflowCode"></vezo-input>
            <error-message [controlName]="form.controls['workflowCode']"></error-message>
            <vezo-input label="Service Name" formControlName="workflowName"></vezo-input>
            <error-message [controlName]="form.controls['workflowName']"></error-message>
        </form>
    </ng-template>
    <ng-template vTemplate="footer">
        <div class="text-right">
            <vezo-button label="Save" [disabled]="!form.valid" (click)="saveData()"></vezo-button>
        </div>
    </ng-template>
</vezo-modal>

<vezo-toast></vezo-toast>