.relative-container {
    // position: relative;
    .trash-icon {
        position: absolute;
        top: -5px;
        right: 0;
        z-index: 10; // Ensure it overlaps above other elements
    }
    .block-content {
        overflow-x: auto;
    }
}


.second-child {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    /* Adjust as needed */
}

.parent {
    flex-grow: 1;
    overflow:auto;
    position: relative;
     background-color: #f5feff;
    //  overflow-x:scroll;
}

.child {
    // position: absolute;

     background-color: rgb(255, 255, 255);
    transition: transform 0.3s ease;
    /* Smooth transition for scaling */
    transform-origin: top center;
    padding-bottom: 100px; // for the extra space to drag and drop
    /* Keep scaling from the top-left corner */
    // transform-origin: top center;
    // transform: translateX(-50%);
}

.wAll{
    width: 95%;
}
  
.borderOutline{
    border-width: 1px;
    border-style: dashed;
    border-color: #a3b2e2;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px; /* Adjust the width as per your layout */
    display: block;
}