<div class="">
    <div *ngIf="loading"
        class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-50 overflow-hidden bg-gray-700 opacity-75 flex flex-col items-center justify-center">
        <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        <h2 class="text-center text-white text-xl font-semibold">Loading...</h2>
        <p class="w-1/3 text-center text-white">This may take a few seconds, please don't close this page.</p>
    </div>
    <!-- top bar with the resize screen tab -->
    <div class="flex justify-between items-center">
        <div class="grid grid-cols-12 gap-2 w-full bg-gray-100 border">
            <div class="col-span-4  gap-4 p-2 ml-4" style="display: flex; justify-content: start; align-items: center;">
                <img src="assets/iconamoon_edit-thin.png" style="width: 18px; height: 18px;" />
                <img src="assets/rotate-ccw.png" style="width: 18px; height: 18px;" />
                <img src="assets/rotate-cw.png" style="width: 18px; height: 18px;" />
            </div>
            <div class="col-span-4">
                <div class="flex gap-4" style="justify-content: center; align-items: center;">
                    <img src="assets/refresh-ccw.png" class="" style="width: 18px; height: 18px;" />
                    <div class="px-2 py-1 flex justify-center items-center gap-1" style="background-color: #e7ecfd;">
                        <img src="assets/circum_mobile-1.png" style="width: 25px; " />
                        <img src="assets/elementsClose.svg" style="width: 12px ;">
                    </div>
                </div>

            </div>
            <div class="col-span-4 p-2">
                <div class="flex justify-center items-center">
                    <div class="flex w-full">
                        <div class="flex-1 gap-2 flex justify-center items-center">
                            <img src="assets/icons8_plus.png" style="width: 18px ;">
                            <div style="font-size: 14px; font-weight: 400; color: #6D6D6D;">Add Page</div>
                        </div>
                        <div class="flex-1 gap-2 flex justify-center items-center">
                            <div style="font-size: 14px; font-weight: 400; color: #6D6D6D;">Preview</div>
                            <img src="assets/elementsClose.svg" style="width: 12px ;">
                        </div>
                        <div class="flex-1 gap-2 flex justify-center items-center">
                            <div style="font-size: 14px; font-weight: 400; color: #6D6D6D;">Deploy</div>
                            <img src="assets/elementsClose.svg" style="width: 12px ;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top bar with microservie, screen , Save and Back button -->
    <div class="flex justify-center items-center border-b" style="background-color: #EEF2FF;">
        <div class="w-full flex p-2">
            <div class="flex-none w-4/5 flex justify-center items-center">
                <div class="flex justify-center items-center w-full">
                    <div class="flex w-full">
                        <div class="flex-none w-2/6 flex justify-center items-center">
                            <div class="text-center" style="color: #4038CA; font-size: 13px;font-weight: 400;">
                                MICROSERVICES: <span>{{screenData.collection?.microService?.microServiceCode | uppercase
                                    }}</span>
                            </div>
                        </div>
                        <div class="flex-none w-2/6 flex justify-center items-center">
                            <div class="text-center" style="color: #4038CA; font-size: 13px;font-weight: 400;">SCREEN:
                                <span>{{ screenData.screenName | uppercase}}</span>
                            </div>
                        </div>
                        <div class="flex-none w-2/6 flex justify-center items-center">
                            <div class="cursor-pointer" (click)="generateComponent()">
                                <vezo-icon icon="cursorArrowRays" className="w-3 h-3 mr-2 text-orange-400"></vezo-icon>
                                <span class="text-orange-400">Generate Code</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-none w-1/5 flex justify-end items-center pr-4 gap-8 ">
                <div class=" flex cursor-pointer" (click)="saveDefinition()">
                    <vezo-icon icon="inbox" className="w-3 h-3 mr-2" style="color: #4038CA;"></vezo-icon>
                    <span class="" style="color: #4038CA; font-size: 13px;font-weight: 400;">Save</span>
                </div>
                <div class="cursor-pointer flex" routerLink="../../">
                    <vezo-icon icon="arrowUturnLeft" className="w-3 h-3 mr-2" style="color: #4038CA;"></vezo-icon>
                    <span class="" style="color: #4038CA; font-size: 13px;font-weight: 400;">Back</span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-start w-full">

        <!-- Left Side canvas Code -->
        <div class="border-l  border border-dashed border-yellow-600 m-12"
            [ngClass]="{'w-8/12 ' : this.rightPanelExpanded == true,'w-11/12' : this.rightPanelExpanded == false }">

            <div [class.horizontal]="layout.dndHorizontal" [dndHorizontal]="layout.dndHorizontal"
                (dndDrop)="onDrop($event, draggableListRight)" class="dndList  name border-b  border-l-0  h-[800px] overflow-y-scroll overflow-x: auto;
                white-space: nowrap;" dndDropzone dndEffectAllowed="copyMove">
                <div class="dndPlaceholder h-16 border bg-blue-400 bg-opacity-25" dndPlaceholderRef>
                </div>
                <div *ngFor="let item of draggableListRight" [dndDraggable]="item" (click)="handleClick($event, item)"
                    (dndCanceled)="onDragged(item, draggableListRight, 'none')"
                    (dndCopied)="onDragged(item, draggableListRight, 'move')"
                    (dndLinked)="onDragged(item, draggableListRight, 'link')"
                    (dndMoved)="onDragged(item, draggableListRight, 'move')">
                    <div
                        class="draggable-item  border border-dashed border-indigo-300 cursor-pointer relative overflow-x: auto;">
                        <!-- <div class="absolute bg-white right-0" *ngIf="activeItem === item"><vezo-icon icon="trash"
                                    className="text-red-400 w-4 h-4 -mt-16 mr-4"></vezo-icon>
                            </div> -->
                        <!-- <ng-container *ngIf="item.name === 'section'">
                            <div (dndDrop)="onDrop($event, item.children)" class="name gap-{{item.data.gap}} grid grid-cols-{{item.data.columns}} 
                                justify-content items-center"
                                [ngClass]="{'p-4':  (!this.item.children || this.item.children.length === 0) }"
                                [ngStyle]="{'margin-top': item.data.startSpacing+'px' ,'margin-bottom': item.data.endSpacing+'px'}"
                                dndDropzone dndEffectAllowed="copyMove">

                                <div *ngFor="let child of item.children" [dndDraggable]="child"
                                    (dndCanceled)="onDragged(child, item.children!, 'none')"
                                    (dndCopied)="onDragged(child, item.children!, 'move')"
                                    (dndLinked)="onDragged(child, item.children!, 'link')"
                                    (dndMoved)="onDragged(child, item.children!, 'move')" class="name">
                                    <div class="">
                                        <app-blocks [block]="child" (click)="handleClick($event, child)"></app-blocks>
                                    </div>
                                </div>
                                <div class="dndPlaceholder h-16 border bg-blue-400 bg-opacity-25" dndPlaceholderRef>
                                </div>
                            </div>
                        </ng-container> -->
                        <ng-container *ngIf="item.name === 'grid'">
                            <div (dndDrop)="onDrop($event, item.children)" class="name gap-{{item.data.gap}} grid grid-cols-{{item.data.columns}}
                                justify-{{item.data.alignment}} items-{{item.data.vAlignment}}"
                                [ngClass]="{'p-4':  (!this.item.children || this.item.children.length === 0) }"
                                [ngStyle]="{'margin-top': item.data.startSpacing+'px' ,'margin-bottom': item.data.endSpacing+'px'}"
                                dndDropzone dndEffectAllowed="copyMove">

                                <div *ngFor="let child of item.children" [dndDraggable]="child"
                                    (dndCanceled)="onDragged(child, item.children!, 'none')"
                                    (dndCopied)="onDragged(child, item.children!, 'move')"
                                    (dndLinked)="onDragged(child, item.children!, 'link')"
                                    (dndMoved)="onDragged(child, item.children!, 'move')" class="name">

                                    <div class="border border-dashed border-indigo-300"
                                        [ngClass]="{'p-4':  ((!this.child.children || this.child.children.length === 0) && this.child.name=='grid') }">
                                        <!-- This line was not working in the case of nested grid -->
                                        <!-- <app-blocks [block]="child" (click)="handleClick($event, child)"></app-blocks> -->

                                        <!-- Solution for nested grid -->
                                        <ng-container *ngIf="child.name === 'grid'; else otherBlocks">
                                            <!-- Recursive call for nested grid -->
                                            <div (dndDrop)="onDrop($event, child.children)"
                                                class="name gap-{{child.data.gap}} grid grid-cols-{{child.data.columns}} justify-{{child.data.alignment}} items-{{child.data.vAlignment}}"
                                                [ngClass]="{'p-4':  (!child.children || child.children.length === 0) }"
                                                [ngStyle]="{'margin-top': child.data.startSpacing+'px' ,'margin-bottom': child.data.endSpacing+'px'}"
                                                dndDropzone dndEffectAllowed="copyMove"
                                                (click)="handleClick($event, child)">
                                                <div *ngFor="let nestedChild of child.children"
                                                    [dndDraggable]="nestedChild"
                                                    (dndCanceled)="onDragged(nestedChild, child.children!, 'none')"
                                                    (dndCopied)="onDragged(nestedChild, child.children!, 'move')"
                                                    (dndLinked)="onDragged(nestedChild, child.children!, 'link')"
                                                    (dndMoved)="onDragged(nestedChild, child.children!, 'move')"
                                                    class="name">
                                                    <div class="border border-dashed border-indigo-300"
                                                        [ngClass]="{'p-4':  ((!nestedChild.children || nestedChild.children.length === 0) && nestedChild.name=='grid') }">
                                                        <app-blocks [block]="nestedChild"
                                                            (click)="handleClick($event, nestedChild)"></app-blocks>
                                                    </div>
                                                </div>
                                                <!-- <div class="dndPlaceholder h-16 border bg-blue-400 bg-opacity-25"
                                                    dndPlaceholderRef></div> -->
                                            </div>
                                        </ng-container>
                                        <ng-template #otherBlocks>
                                            <app-blocks [block]="child"
                                                (click)="handleClick($event, child)"></app-blocks>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class=" dndPlaceholder h-16 border bg-blue-400 bg-opacity-25" dndPlaceholderRef>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="item.name === 'form'">
                            <div class="name">
                                <div *ngFor="let child of item.children" class="name">
                                    <ng-container *ngIf="child.name === 'grid'">
                                        <div [ngStyle]="{'margin-top': child.data?.mt+'px', 'margin-bottom': child.data?.mb+'px', 'margin-left': child.data?.ml+'px', 'margin-right': child.data?.mr+'px' ,
                                        'padding-top': child.data?.pt+'px','padding-bottom': child.data?.pb+'px', 'padding-left': child.data?.pl+'px', 'padding-right': child.data?.pr+'px'}"
                                            class="name gap-{{child.data.gap}} grid grid-cols-{{child.data.columns}}  justify-{{child.data.alignment}} items-{{child.data.vAlignment}}">

                                            <div *ngFor="let subChild of child.children" class="name">
                                                <ng-container *ngIf="subChild.name === 'grid'">
                                                    <div [ngStyle]="{'margin-top': subChild.data.startSpacing+'px' ,'margin-bottom': subChild.data.endSpacing+'px'}"
                                                        class="name gap-{{subChild.data.gap}} grid grid-cols-{{subChild.data.columns}}  justify-{{subChild.data.alignment}} items-{{subChild.data.vAlignment}}">
                                                        <div *ngFor="let nextSubChild of subChild.children"
                                                            class="name">
                                                            <app-blocks [block]="nextSubChild"
                                                                (click)="handleClickForm($event, nextSubChild , item)"></app-blocks>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <app-blocks [block]="subChild"
                                                    (click)="handleClickForm($event, subChild , item)"></app-blocks>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="child.name === 'container'">
                                        <div class="name gap-{{child.data.gap}} grid grid-cols-{{child.data.columns}}
                                             justify-{{child.data.alignment}} items-{{child.data.vAlignment}}"
                                            [ngStyle]="{ 'width' : child.data?.width ? child.data?.width+'px': 'auto' ,'height' :child.data?.height? child.data?.height+'px':'auto' , 'background-color' : child.data?.bgColor ,
                                            'background-image': 'url(' + child.data?.bgImage + ')' , 'background-size': 'cover', 'background-position':'center',
                                            'margin-top': child.data?.mt+'px', 'margin-bottom': child.data?.mb+'px', 'margin-left': child.data?.ml+'px', 'margin-right': child.data?.mr+'px' ,
                                             'padding-top': child.data?.pt+'px','padding-bottom': child.data?.pb+'px', 'padding-left': child.data?.pl+'px', 'padding-right': child.data?.pr+'px'}"
                                            [ngClass]="{'p-4':  (!this.child.children || this.child.children.length === 0) }">
                                            <div *ngFor="let subChild of child.children" class="name">
                                                <ng-container *ngIf="subChild.name === 'grid'; else otherBlocks">
                                                    <!-- Recursive call for nested grid -->
                                                    <div [ngStyle]="{'margin-top': subChild.data.startSpacing+'px' ,'margin-bottom': subChild.data.endSpacing+'px'}"
                                                        class="name gap-{{subChild.data.gap}} grid grid-cols-{{subChild.data.columns}} justify-{{subChild.data.alignment}} items-{{subChild.data.vAlignment}}">
                                                        <div *ngFor="let nestedChild of subChild.children" class="name">
                                                            <app-blocks [block]="nestedChild"
                                                                (click)="handleClickForm($event, nestedChild , item)">
                                                            </app-blocks>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-template #otherBlocks>
                                                    <app-blocks [block]="subChild"
                                                        (click)="handleClickForm($event, subChild , item)"></app-blocks>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <app-blocks [block]=" child"
                                        (click)="handleClickForm($event, child , item)"></app-blocks>
                                </div>
                                <!-- <div class="dndPlaceholder h-16 p-5 border bg-blue-400 bg-opacity-25" dndPlaceholderRef>
                                </div> -->
                            </div>
                        </ng-container>

                        <ng-container *ngIf="item.name === 'container'">
                            <div (dndDrop)="onDrop($event, item.children)" class="name gap-{{item.data.gap}} grid grid-cols-{{item.data.columns}}
                                justify-{{item.data.alignment}} items-{{item.data.vAlignment}}" [ngStyle]="{ 'width' : item.data?.width+'px' ,'height' :item.data?.height? item.data?.height+'px':'auto' , 'background-color' : item.data?.bgColor ,
                                    'background-image': 'url(' + item.data?.bgImage + ')' , 'background-size': 'cover', 'background-position':'center',
                                    'margin-top': item.data?.mt+'px', 'margin-bottom': item.data?.mb+'px', 'margin-left': item.data?.ml+'px', 'margin-right': item.data?.mr+'px' ,
                                'padding-top': item.data?.pt+'px','padding-bottom': item.data?.pb+'px', 'padding-left': item.data?.pl+'px', 'padding-right': item.data?.pr+'px'
                                }" [ngClass]="{'p-4':  (!this.item.children || this.item.children.length === 0) }"
                                dndDropzone dndEffectAllowed="copyMove">

                                <div *ngFor="let child of item.children" [dndDraggable]="child"
                                    (dndCanceled)="onDragged(child, item.children!, 'none')"
                                    (dndCopied)="onDragged(child, item.children!, 'move')"
                                    (dndLinked)="onDragged(child, item.children!, 'link')"
                                    (dndMoved)="onDragged(child, item.children!, 'move')" class="">
                                    <div class="border border-dashed border-indigo-300 "
                                        [ngClass]="{'p-4':  ((!this.child.children || this.child.children.length === 0) && this.child.name=='grid') }">
                                        <!-- Because This line was not working in the case of nested grid -->
                                        <!-- <app-blocks [block]="child" (click)="handleClick($event, child)"></app-blocks> -->

                                        <!-- Solution for nested grid -->
                                        <ng-container *ngIf="child.name === 'grid'; else otherBlocks">
                                            <!-- Recursive call for nested grid -->
                                            <div (dndDrop)="onDrop($event, child.children)"
                                                class=" gap-{{child.data.gap}} grid grid-cols-{{child.data.columns}} justify-{{child.data.alignment}} items-{{child.data.vAlignment}}"
                                                [ngClass]="{'p-4':  (!child.children || child.children.length === 0) }"
                                                [ngStyle]="{'margin-top': child.data.startSpacing+'px' ,'margin-bottom': child.data.endSpacing+'px'}"
                                                dndDropzone dndEffectAllowed="copyMove"
                                                (click)="handleClick($event, child)">
                                                <div *ngFor="let nestedChild of child.children"
                                                    [dndDraggable]="nestedChild"
                                                    (dndCanceled)="onDragged(nestedChild, child.children!, 'none')"
                                                    (dndCopied)="onDragged(nestedChild, child.children!, 'move')"
                                                    (dndLinked)="onDragged(nestedChild, child.children!, 'link')"
                                                    (dndMoved)="onDragged(nestedChild, child.children!, 'move')"
                                                    class="name">
                                                    <div class="border border-dashed border-indigo-300"
                                                        [ngClass]="{'p-4':  ((!nestedChild.children || nestedChild.children.length === 0)) }">
                                                        <app-blocks [block]="nestedChild"
                                                            (click)="handleClick($event, nestedChild)"></app-blocks>
                                                    </div>
                                                </div>
                                                <!-- <div class="dndPlaceholder h-16 border bg-blue-400 bg-opacity-25"
                                                    dndPlaceholderRef></div> -->
                                            </div>
                                        </ng-container>
                                        <ng-template #otherBlocks>
                                            <app-blocks [block]="child"
                                                (click)="handleClick($event, child)"></app-blocks>
                                        </ng-template>
                                    </div>
                                </div>
                                <!-- <div class=" dndPlaceholder h-16 border bg-blue-400 bg-opacity-25" dndPlaceholderRef>
                                </div> -->
                            </div>
                        </ng-container>

                        <ng-container *ngIf="item.name === 'row'">
                            <div (dndDrop)="onDrop($event, item.children)"
                                class="name gap-{{item.data.gap}} grid grid-rows-1 grid-flow-col justify-{{item.data.alignment}} items-{{item.data.vAlignment}}"
                                [ngClass]="{'p-4':  (!this.item.children || this.item.children.length === 0) }"
                                [ngStyle]="{'margin-top': item.data.startSpacing+'px' ,'margin-bottom': item.data.endSpacing+'px'}"
                                dndDropzone dndEffectAllowed="copyMove">

                                <div *ngFor="let child of item.children" [dndDraggable]="child"
                                    (dndCanceled)="onDragged(child, item.children!, 'none')"
                                    (dndCopied)="onDragged(child, item.children!, 'move')"
                                    (dndLinked)="onDragged(child, item.children!, 'link')"
                                    (dndMoved)="onDragged(child, item.children!, 'move')" class="name">

                                    <div class="border border-dashed border-indigo-300"
                                        [ngClass]="{'p-4':  ((!this.child.children || this.child.children.length === 0))}">
                                        <!-- This line was not working in the case of nested -->
                                        <app-blocks [block]="child" (click)="handleClick($event, child)"></app-blocks>
                                    </div>
                                </div>
                                <div class=" dndPlaceholder h-16 border bg-blue-400 bg-opacity-25" dndPlaceholderRef>
                                </div>
                            </div>
                        </ng-container>

                        <div class="relative-container">
                            <div class="trash-icon" *ngIf="this.activeItem?.id === item.id ">
                                <vezo-icon icon="trash" class="mr-2  text-red-500 cursor-pointer" className="w-4 h-4"
                                    (click)="deleteActiveItem(true)"></vezo-icon>
                            </div>
                            <app-blocks [block]="item" (click)="handleClick($event, item)"
                                class="block-content"></app-blocks>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Side Elements and Properties Code -->
        <div [ngClass]="{'w-4/12 ' : this.rightPanelExpanded == true}" class="h-[600px] overflow-y-scroll"
            style=" position: -webkit-sticky; /* For Safari */ position: sticky;top: 0;">
            <div *ngIf="this.rightPanelExpanded">
                <div class="flex justify-end align-top">
                    <div class="w-1/12">
                        <div style="height: 47px; border-bottom-left-radius: 4px; align-items: center;"
                            class="border-b  border-l border-r flex justify-center px-2 shadow-md bg-white"
                            (click)="this.rightPanelExpanded =  !this.rightPanelExpanded">
                            <vezo-icon [icon]="'chevronRight'" className="cursor-pointer w-5 h-5"
                                style="color:black"></vezo-icon>
                            <!-- <vezo-icon *ngIf="this.rightPanelExpanded==false " [icon]="'chevronLeft'"
                            className="cursor-pointer w-5 h-5" style="color:black"></vezo-icon> -->
                        </div>
                    </div>
                    <div class="w-11/12  bg-white border-l border-b" style="border-color:#818CF8;">
                        <div class="flex">
                            <div class="w-6/12 p-3 cursor-pointer"
                                [style.background-color]=" this.activeItem?.id === null? '#4038CA' : '#C7D2FE'"
                                (click)="onClickPickElement()">
                                <div class="flex justify-between gap-3">
                                    <div class="w-11/12">
                                        <span *ngIf="!showProps"
                                            [style.color]=" this.activeItem?.id === null? '#F6F6F6' : '#454545'"
                                            style="font-size: 12px; font-weight: 500;">PICK AN
                                            ELEMENT</span>
                                        <span *ngIf="showProps"
                                            [style.color]=" this.activeItem?.id === null? '#F6F6F6' : '#454545'"
                                            style="font-size: 12px; font-weight: 500;">Widgets</span>
                                    </div>
                                    <div class="w-1/12">
                                        <vezo-icon icon="bars2" *ngIf="!showProps" className="cursor-pointer w-4 h-4"
                                            (click)="showProps=!showProps" style="color:white"></vezo-icon>
                                        <vezo-icon icon="squares2x2" *ngIf="showProps"
                                            className="cursor-pointer w-4 h-4" style="color:white"
                                            (click)="showProps=!showProps"></vezo-icon>
                                    </div>
                                </div>
                            </div>

                            <div class="w-6/12 p-3 justify-center"
                                [style.background-color]=" this.activeItem?.id !== null? '#4038CA' : '#C7D2FE'">
                                <div [style.color]=" this.activeItem?.id !== null? '#F6F6F6' : '#454545'"
                                    style="font-size: 12px; font-weight: 500; display: flex; justify-content: center; align-items: center;">
                                    STYLES</div>
                            </div>
                        </div>
                        <!-- All elements -->
                        <div *ngIf="this.activeItem?.id == null" >
                            <div *ngIf="!showProps">
                                <div class="m-3 bg-white">
                                    <vezo-searchfield type="text" placeholder="Search"></vezo-searchfield>
                                </div>
                                <!-- Virtual Elements -->
                                <div class=" m-3 flex gap-2 justify-start align-middle" style="align-items: center;">
                                    <div *ngIf="virtualElementsExpand" class="cursor-pointer"
                                        (click)="virtualElementsExpand = !virtualElementsExpand"><img
                                            src="assets/elementsClose.svg"></div>
                                    <div *ngIf="!virtualElementsExpand" class="cursor-pointer"
                                        (click)="virtualElementsExpand = !virtualElementsExpand"><img
                                            *ngIf="this.isExpanded == false" src="assets/Polygon 5.svg"
                                            style="width: 7px; height: 14px;" /></div>
                                    <div style="font-size: 16px; font-weight: 600; color: black;">Visual Elements</div>
                                </div>
                                <div *ngIf="virtualElementsExpand" class="dndList px-3 py-1 name">
                                    <div class="grid grid-cols-2 gap-2">
                                        <div *ngFor="let item of draggableListLeftVE" [dndDraggable]="item"
                                            [dndEffectAllowed]="item.effectAllowed" class="cursor-move">
                                            <div class="draggable-item mb-2 border bg-white shadow-sm"
                                                style="border-radius: 4px;">
                                                <div class="flex gap-3 py-2 px-2"
                                                    style="justify-content: start; align-items: center;">
                                                    <div class="col-2">
                                                        <img [src]="item.icon">
                                                    </div>
                                                    <div class="col-10"> {{item.content}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Layout Elements -->
                                <div class=" m-3 flex gap-2 justify-start align-middle" style="align-items: center;">
                                    <div *ngIf="layoutElementsExpand" class="cursor-pointer"
                                        (click)="layoutElementsExpand = !layoutElementsExpand"><img
                                            src="assets/elementsClose.svg"></div>
                                    <div *ngIf="!layoutElementsExpand" class="cursor-pointer"
                                        (click)="layoutElementsExpand = !layoutElementsExpand"><img
                                            *ngIf="this.isExpanded == false" src="assets/Polygon 5.svg"
                                            style="width: 7px; height: 14px;" /></div>
                                    <div style="font-size: 16px; font-weight: 600; color: black;">Layout Elements</div>
                                </div>
                                <div *ngIf="layoutElementsExpand" class="dndList px-3 py-1 name">
                                    <div class="grid grid-cols-2 gap-2">
                                        <div *ngFor="let item of draggableListLeftLE" [dndDraggable]="item"
                                            [dndEffectAllowed]="item.effectAllowed" class="cursor-move">
                                            <div class="draggable-item mb-2 border bg-white shadow-sm"
                                                style="border-radius: 4px;">
                                                <div class="flex gap-3 py-2 px-2"
                                                    style="justify-content: start; align-items: center;">
                                                    <div class="col-2">
                                                        <img [src]="item.icon">
                                                    </div>
                                                    <div class="col-10"> {{item.content}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Page Elements -->
                                <div class=" m-3 flex gap-2 justify-start align-middle" style="align-items: center;">
                                    <div *ngIf="pageElementsExpand" class="cursor-pointer"
                                        (click)="pageElementsExpand = !pageElementsExpand"><img
                                            src="assets/elementsClose.svg"></div>
                                    <div *ngIf="!pageElementsExpand" class="cursor-pointer"
                                        (click)="pageElementsExpand = !pageElementsExpand"><img
                                            *ngIf="this.isExpanded == false" src="assets/Polygon 5.svg"
                                            style="width: 7px; height: 14px;" /></div>
                                    <div style="font-size: 16px; font-weight: 600; color: black;">Page Elements</div>
                                </div>
                                <div *ngIf="pageElementsExpand" class="dndList px-3 py-1 name">
                                    <div class="grid grid-cols-2 gap-2">
                                        <div *ngFor="let item of draggableListLeftPE" [dndDraggable]="item"
                                            [dndEffectAllowed]="item.effectAllowed" class="cursor-move">
                                            <div class="draggable-item mb-2 border bg-white shadow-sm"
                                                style="border-radius: 4px;">
                                                <div class="flex gap-3 py-2 px-2"
                                                    style="justify-content: start; align-items: center;">
                                                    <div class="col-2">
                                                        <img [src]="item.icon">
                                                    </div>
                                                    <div class="col-10"> {{item.content}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="showProps" class="p-2">
                                <div style="display: flex;flex-direction: column;">
                                    <div *ngFor="let item of widgetTree">
                                        <app-widget-tree-node [node]="item"
                                            (nodeClicked)="onItemReceived($event)"></app-widget-tree-node>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Elements's Property -->
                        <div *ngIf="this.activeItem?.id != null" class="ml-2 mt-2"
                        style="font-size: 16px; font-weight: 400; color:#2e2e2e">Element- {{this.activeItem?.name |
                        capitalize}}</div>
                        <div *ngIf="this.activeItem?.id != null" class=" p-3">
                            <div class="min-h-[24rem]">
                                <app-properties [fields]="fields" [forms]="forms" [props]="activeItem"
                                    [collections]="collections" (deleteProp)="deleteActiveItem($event)"
                                    (getCollectionFields)="getFields($event)"></app-properties>
                                <div class="text-center m-8" *ngIf="!activeItem">Drag and drop from
                                    blocks to center
                                    panel to create
                                    screen.</div>
                            </div>
                            <div class="mt-4">
                                <div>
                                    <div class="bg-gray-50 border-b p-2 font-semibold">Page
                                        Properties</div>
                                    <div class="p-4">
                                        <vezo-input label="Page URL"></vezo-input>
                                        <vezo-input label="Primary Collection"></vezo-input>
                                        <div class="text-right mb-8 pt-4">
                                            <vezo-button label="Save" className="bg-gray-50"
                                                (click)="saveDefinition()"></vezo-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!this.rightPanelExpanded">
                <div style="height: 47px; width: 32px; border-bottom-left-radius: 4px; align-items: center;"
                    class="border-b  border-l border-r flex justify-center px-2 shadow-md bg-white"
                    (click)="this.rightPanelExpanded =  !this.rightPanelExpanded">
                    <!-- <vezo-icon *ngIf="this.rightPanelExpanded==true " [icon]="'chevronRight'"
                        className="cursor-pointer w-5 h-5" style="color:black"></vezo-icon> -->
                    <vezo-icon [icon]="'chevronLeft'" className="cursor-pointer w-5 h-5"
                        style="color:black"></vezo-icon>
                </div>
            </div>
        </div>

    </div>
</div>
<vezo-toast></vezo-toast>
<!-- <pre>
        {{ draggableListRight | json }}
    </pre> -->
<!-- {{ activeItem | json }} -->